/**
 * @version    1.3
 * @package    Ninja
 * @author     WooRockets Team <support@woorockets.com>
 * @copyright  Copyright (C) 2014 WooRockets.com. All Rights Reserved.
 * @license    GNU/GPL v2 or later http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Websites: http://www.woorockets.com
 */
/*--------------------------------------------------------------
	CSS OVERVIEW
----------------------------------------------------------------
		1. Reset
		2. Typography
		3. Icons Font
		4. Elements
		5. Forms
		6. WordPress Recommended Classes
		7. Grid System
		8. Main Menu
		9. Content
		10. Blog Layout
		11. Widget Style
		12. 404 Page
		13. Offline Page
		14. Footer
		
--------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,800,700,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300);

/*  [ Reset ]
- - - - - - - - - - - - - - - - - - - - */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-x: hidden; /* Keeps page centered in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust:     100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
*,
*:before,
*:after { /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
	-webkit-box-sizing: border-box; /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
	-moz-box-sizing:    border-box; /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
	box-sizing:         border-box;
}
html, body {
	width: 100%;
	height: 100%;
}
body {
	background: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
table, th, td {
	border: 1px solid rgba(0, 0, 0, 0.1);
}
table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin-bottom: 24px;
	width: 100%;
}
th, td {
	padding: 6px;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
th {
	border-width: 0 1px 1px 0;
	font-weight: bold;
}
td {
	border-width: 0 1px 1px 0;
}
caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
blockquote:before,
q:before {
	content: none;
}
blockquote,
address,
q {
	border-left: 3px solid #e55a54;
	padding-left: 15px;
	font-size: 14px;
}

/*  [ Typography ]
- - - - - - - - - - - - - - - - - - - - */
body,
button,
input,
select,
textarea {
	color: #353533;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	color: #353533;
}
h1 {
	font-size: 3.6rem;
}
h2 {
	font-size: 3rem;
}
h3 {
	font-size: 2.4rem;
}
h4 {
	font-size: 1.8rem;
}
h5 {
	font-size: 1.4rem;
}
h6 {
	font-size: 1.2rem;
}
p {
	margin-bottom: 1.5em;
}
b,
strong {
	font-weight: 600;
}
dfn,
cite,
em,
i {
	font-style: italic;
}
blockquote {
	margin: 20px 0 !important;
	font-family: "Georgia";
	font-style: italic;
	font-size: 19px !important;
	padding-left: 65px;
	position: relative;
	line-height: 30px;
	border: none;
}
blockquote:before{
	content:"\f10d";
	position: absolute;
	top: 20px;
	left: 0;
	font-size: 50px;
	color: #282828;
	font-family: "FontAwesome";
}
address {
	margin: 0 0 1.5em;
	font-style: italic;
	font-family: "Georgia";
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
code,
kbd,
tt,
var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}

/*  [ Icons Font ]
- - - - - - - - - - - - - - - - - - - - */
@font-face {
	font-family: 'fontello';
	src: url('../fonts/fontello.eot?53959997');
	src: url('../fonts/fontello.eot?53959997#iefix') format('embedded-opentype'),
		url('../fonts/fontello.woff?53959997') format('woff'),
		url('../fonts/fontello.ttf?53959997') format('truetype'),
		url('../fonts/fontello.svg?53959997#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="wr-icon-"]:before, [class*=" wr-icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
}
.wr-icon-user:before          { content: '\e800'; } /* '' */
.wr-icon-edit:before          { content: '\e801'; } /* '' */
.wr-icon-wordpress:before     { content: '\e802'; } /* '' */
.wr-icon-twitter:before       { content: '\e803'; } /* '' */
.wr-icon-vimeo:before         { content: '\e804'; } /* '' */
.wr-icon-rss:before           { content: '\e805'; } /* '' */
.wr-icon-pinterest:before     { content: '\e806'; } /* '' */
.wr-icon-googleplus:before    { content: '\e807'; } /* '' */
.wr-icon-linkedin:before      { content: '\e808'; } /* '' */
.wr-icon-facebook:before      { content: '\e809'; } /* '' */
.wr-icon-yahoo:before         { content: '\e80a'; } /* '' */
.wr-icon-dribbble:before      { content: '\e80b'; } /* '' */
.wr-icon-skype:before         { content: '\e80c'; } /* '' */
.wr-icon-myspace:before       { content: '\e80d'; } /* '' */
.wr-icon-stumbleupon:before   { content: '\e80e'; } /* '' */
.wr-icon-youtube:before       { content: '\e80f'; } /* '' */
.wr-icon-flickr:before        { content: '\e810'; } /* '' */
.wr-icon-gallery:before       { content: '\e811'; } /* '' */
.wr-icon-video:before         { content: '\e812'; } /* '' */
.wr-icon-music:before         { content: '\e813'; } /* '' */
.wr-icon-tags:before          { content: '\e814'; } /* '' */
.wr-icon-quote:before         { content: '\e815'; } /* '' */
.wr-icon-comments:before      { content: '\e816'; } /* '' */
.wr-icon-calendar:before      { content: '\e817'; } /* '' */
.wr-icon-category:before      { content: '\e818'; } /* '' */
.wr-icon-angle-up:before      { content: '\e819'; } /* '' */
.wr-icon-search:before        { content: '\e81a'; } /* '' */
.wr-icon-phone:before         { content: '\e81b'; } /* '' */
.wr-icon-phone-squared:before { content: '\e81c'; } /* '' */
.wr-icon-unhappy:before       { content: '\e81d'; } /* '' */
.wr-icon-tumblr:before        { content: '\e81e'; } /* '' */

.cart-icon:before{
	display: inline-block;
	/*background: url('../img/icons/cart-icon.png') no-repeat center;*/
	content:"\f07a";
	font-family: "FontAwesome";
	font-style: normal;
}

/*  [ Elements ]
- - - - - - - - - - - - - - - - - - - - */
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
	vertical-align: middle;
	border: none;
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
th {
	font-weight: bold;
}
a {
	color: #e55a54;
	text-decoration: none;
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition:    all .3s ease-in-out 0s;
	transition:         all .3s ease-in-out 0s;
}
a:hover,
a:focus,
a:active {
	color: #e55a54;
	outline: 0;
}
.cl:before,
.cl:after {
	content: '';
	display: table;
}
.cl:after {
	clear: both;
}
.textup {
	text-transform: uppercase;
}
.bg-blue {
	background-color: #3795e6 !important;
}
.bg-blue:hover {
	background-color: #2280d1 !important;
}
.bg-green {
	background-color: #68aa71 !important;
}
.bg-green:hover {
	background-color: #4a8c53 !important;
}
.bg-cyan {
	background-color: #68a8aa !important;
}
.bg-cyan:hover {
	background-color: #4d8d8f !important;
}
.bg-yellow {
	background-color: #c99542 !important;
}
.bg-yellow:hover {
	background-color: #ab7724 !important;
}
.bg-red {
	background-color: #e55a54 !important;
}
.bg-red:hover {
	background-color: #d02f22 !important;
}
.bg-brown {
	background-color: #786d5b !important;
}
.bg-brown:hover {
	background-color: #5c513f !important;
}
.bg-purple {
	background-color: #65759b !important;
}
.bg-purple:hover {
	background-color: #49597f !important;
}

.owl-pagination {
	position: static;
	margin: 10px 0;
}
.owl-theme .owl-controls .owl-page span{
	background: none;
	border: 2px solid #818181;
	margin: 0 3px;
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition:    all .3s ease-in-out 0s;
	transition:         all .3s ease-in-out 0s;
}
.owl-theme .owl-controls .owl-page.active span, 
.owl-theme .owl-controls.clickable .owl-page:hover span{
	background: #363636;
	border-color: #363636;
}
/*  [ Forms ]
- - - - - - - - - - - - - - - - - - - - */
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition:    all .3s ease-in-out 0s;
	transition:         all .3s ease-in-out 0s;
	border-radius: 0;
}
button,
input,
textarea{
	appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	-webkit-appearance:none;
}
input[type="checkbox"]{
	appearance:checkbox;
	-moz-appearance:checkbox;
	-ms-appearance:checkbox;
	-webkit-appearance:checkbox;
}
input[type="radio"]{
	appearance:radio;
	-moz-appearance:radio;
	-ms-appearance:radio;
	-webkit-appearance:radio;
}
button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: #363636;
	color: #fff;
	display: inline-block;
	height: 48px;
	line-height: 48px;
	padding: 0 30px;
	cursor: pointer;
	border: none;
	border-radius: 0;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
}
button:hover,
.button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background: #e55a54;
	color: #FFF;
}
input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border-radius: 0;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #d7d7d7;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #191919;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 5px;
}
input[type="password"] {
	height: 48px;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
}

/*  [ WordPress Recommended Classes ]
- - - - - - - - - - - - - - - - - - - - */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
	text-align: right;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
	text-align: center;
}
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
	font-style: oblique;
	font-size: 12px;
}
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}
.gallery-caption {}
.bypostauthor {}
.sticky {}

/*  [ Grid System ]
- - - - - - - - - - - - - - - - - - - - */
.container {
	max-width: 1170px;
	margin: auto !important;
}
.container:before,
.container:after,
.site-content:before,
.site-content:after {
	content: "";
	display: table;
}
.container:after,
.site-content:after {
	clear: both;
}
.container,
.grid {
	width: 100%;
}
.grid:before,
.grid:after {
	content: '';
	display: table;
}
.grid:after {
	clear: both;
}
.grid .columns:last-child {
	margin-right: 0;
}
.columns {
	float: left;
	position: relative;
	margin-right: 2.12766%;
	margin-bottom: 2.12766%;
}
.columns.one    { width: 6.382978723404%;  }
.columns.two    { width: 14.893617021277%; }
.columns.three  { width: 23.404255319149%; }
.columns.four   { width: 31.914893617021%; }
.columns.five   { width: 40.425531914894%; }
.columns.six    { width: 48.936170212766%; }
.columns.seven  { width: 57.446808510638%; }
.columns.eight  { width: 65.957446808511%; }
.columns.nine   { width: 74.468085106383%; }
.columns.ten    { width: 82.978723404255%; }
.columns.eleven { width: 91.489361702128%; }
.columns.twelve { width: 100%;             }

.primary-sidebar,
.secondary-sidebar {
	width: 370px;
	background: #FFF;
	padding: 30px 40px 20px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	overflow-y:auto;
}
.secondary-sidebar {
	left: auto;
	right: 0;
}
.admin-bar .primary-sidebar,
.admin-bar .secondary-sidebar {
	margin-top: 32px;
}
.left-sidebar .site-main,
.left-sidebar .page-title,
.left-sidebar .blog-container .site-main, 
.left-sidebar .blog-container .page-title{
	margin-left: 370px;
}
.right-sidebar .site-main,
.right-sidebar .page-title,
.right-sidebar .blog-container .site-main,
.right-sidebar .blog-container .page-title{
	margin-right: 370px;
}

/* animation */
.animation-element{
	opacity: 1;
	visibility:visible;
	transition: transform 1.25s ease-in-out 0s, opacity 1.25s ease-in-out 0s;
	-moz-transition: transform 1.25s ease-in-out 0s, opacity 1.25s ease-in-out 0s;
	-webkit-transition: transform 1.25s ease-in-out 0s, opacity 1.25s ease-in-out 0s;
}
.animation-element.fast{
	transition: transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
	-moz-transition: transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
	-webkit-transition: transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
}
.animation-element.intop,
.animation-element.inleft,
.animation-element.inright,
.animation-element.inbottom{
	opacity:0;
	visibility:hidden;
}
.animation-element.intop{
	transform: translateY(-100px);
}
.animation-element.inleft{
	transform: translateX(-100px);
}
.animation-element.inright{
	transform: translateX(100px);
}
.animation-element.inbottom{
	transform: translateY(100px);
}

.single-share .social li{
	margin-right: 0;
}
.single-share .social li:after{
	display: none;
}
.single-share .social li a{
	padding: 0;
	width: 38px;
	text-align: center;
	margin: 0;
	display: block;
	height: 38px;
	line-height: 38px;
	background: #a3a3a3;
	color: #FFF;
}
.single-share .social li a:hover{
	background: #e55a54;
}
.single-share .social li a span{
	display: none;
}
.single-share .social li a i{
	display: inline;
	margin: 0;
}

/*  [ Header ]
- - - - - - - - - - - - - - - - - - - - */
.menu {
	margin: 0;
}
.menu li {
	list-style: none;
}
.site-branding {
	display: inline-block;
	vertical-align: middle;
	min-width: 180px;
	text-align: center;
}
.site-branding .site-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 24px;
	border-right: 1px solid #ebebeb;
}
.site-branding .site-title a {	
	color: #3b3b3b;
	text-transform: uppercase;
}
.site-branding .site-description {
	font-size: 12px;
	color: #868686;
}
.menu,
.social {
	list-style: none;
	margin: 0;
}
.search-box {
	position: relative;
}
.search-box form{
	position: relative;
}
.search-box form button {
	line-height: 60px;
	position: absolute;
	width: 100px;
	border-radius: 0;
	top: 0;
	right: 0;
	height: 100%;
	color: #464646;
	background: none;
	font-size: 60px;
}
.search-box form input[type="text"] {
	width: 100%;
	padding: 29px 110px;
	text-align: center;
	background: none;
	border: none;
	color: #7a7a7a;
	font-size: 16px;
	height: 90px;
	position: relative;
	z-index: 10;
}
.search-box form input[type="text"]:focus{
	outline: none;
}
.search-box form label{
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 16px;
	color: #4f4f4f;
	z-index: 1;
	transform:translate(-50%, -50%);
	-moz-transform:translate(-50%, -50%);
	-ms-transform:translate(-50%, -50%);
	-webkit-transform:translate(-50%, -50%);
}

/*  [ Network Social ]
- - - - - - - - - - - - - - - - - - - - */
.site-network{
	padding: 27px 25px 28px;
	position: relative;
}
.site-network > i{
	position: absolute;
	top: 50%;
	right: 30px;
	transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	font-size: 60px;
	color: #464646;
}
.social {
	text-align: center;
}
.social li {
	display: inline-block;
}
.social li:after {
	color: #555555;
	content: "/";
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	margin: 0 20px;
}
.social li:last-child:after{
	display: none;
}
.social li a {
	color: #a3a3a3;
	font-size: 16px;
	text-align: center;
}
.social li a i{
	display: none;
}
.social li a:hover {
	color: #FFF;
}

/*  [ Main Menu ]
- - - - - - - - - - - - - - - - - - - - */
#menu-main{
	margin: 0 0 30px;
}
#menu-main li {
	position: relative;
	list-style: none;
}
#menu-main li a {
	color: #7c7c7c;
	font-size: 60px;
	font-weight: 100;
	letter-spacing: 5px;
	line-height: 90px;
	text-transform: uppercase;
	position:relative;
}
#menu-main li a ul li a {
	text-transform:lowercase;
	}
#menu-main > li > a:after {
	color: #7c7c7c;
	content: "•";
	left: -25px;
	position: absolute;
	top: 30px;
	opacity:0;
	transition:all ease-in-out .3s;
	-moz-transition:all ease-in-out .3s;
	-ms-transition:all ease-in-out .3s;
	-o-transition:all ease-in-out .3s;
	-webkit-transition:all ease-in-out .3s;
	}
#menu-main li.current-menu-item > a:after,
#menu-main li a:hover:after {
	color: #e55a54;
	top: -30px;
	opacity:1;
	}
#menu-main > li > .sub-menu{
	display: none;
}
#menu-main li .sub-menu{
	position: relative;
	overflow: visible !important;
	margin: 0 0 0 50px;
	padding-left: 35px;
}
#menu-main .sub-menu .sub-menu{
	position: absolute;
	top: 110%;
	left: 30%;
	z-index: 100;
	background: #1d1d1d;
	border-radius: 5px;
	display: block;
	padding: 15px;
	width: 230px;
	margin: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
#menu-main .sub-menu .sub-menu:before{
	display: none;
}
#menu-main .sub-menu .sub-menu:after{
	position: absolute;
	bottom: 100%;
	left: 50%;
	content: "";
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #1d1d1d;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
#menu-main .sub-menu li:hover > .sub-menu{
	opacity: 1;
	visibility: visible;
	top: 100%;
}
#menu-main li .sub-menu li{
	display: inline-block;
}
#menu-main li .sub-menu li:after{
	content: "/";
	display: inline-block;
	color: #3c3c3c;
	font-size: 26px;
	margin: 0 20px;
}
#menu-main li .sub-menu li:last-child:after{
	display: none;
}
#menu-main li .sub-menu li a{
	font-size: 26px;
	text-transform:capitalize;
}
#menu-main .sub-menu .sub-menu li{
	display: block;
	padding: 10px 0;
	text-align: center;
}
#menu-main .sub-menu .sub-menu li:after{
	display: none;
}
#menu-main .sub-menu .sub-menu li a{
	font-size: 14px;
	line-height: normal;
}
.cd-contact-info{
	font-weight: 300;
	font-size: 16px;
	padding: 0 0 30px;
}
.cd-contact-info:before{
	display: block;
	width: 100%;
	max-width: 400px;
	content: "";
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	margin: 30px 0;
}

/*  [ Content ]
- - - - - - - - - - - - - - - - - - - - */
#mask-blur{
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
}
.site-content {
	overflow: hidden;
	overflow-y: auto;
	position: relative;
	transition: margin 0.7s ease-in-out 0s;
	-ms-transition: margin 0.7s ease-in-out 0s;
	-moz-transition: margin 0.7s ease-in-out 0s;
	-webkit-transition: margin 0.7s ease-in-out 0s;
}
.page-title {
	padding: 20px 0;
}
.page-title.center * {
	text-align: center;
}
.page-title.left * {
	text-align: left;
}
.page-title.right * {
	text-align: right;
}
.page-title h1 {
	font-size: 60px;
	text-transform: uppercase;
	color: #e55a54;
}
#pageloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000000;
	overflow: hidden;
	background: #363636;
	-webkit-transition: all 0.5s ease-out 0s;
	-moz-transition:    all 0.5s ease-out 0s;
	transition:         all 0.5s ease-out 0s;
}

#loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 43px;
	height: 43px;
	margin: -21px 0 0 -21px;
	z-index: 11;
	background-image: url('../img/icons/loading.gif');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.loaded #loader {
	opacity: 0;
	-webkit-transition: all .3s ease-out;
	-moz-transition:    all .3s ease-out;
	transition:         all .3s ease-out;
}
.loaded #pageloader {
	visibility: hidden;
	opacity: 0;
	background: #000;
}

/*  [ Blog Layout ]
- - - - - - - - - - - - - - - - - - - - */
body.blog .site-content,
body.author .site-content,
body.single-post .site-content{
}
body.author .site-content > .container{
	width: auto;
	max-width: none;
}
.single-post-container .site-main,
.blog-container .site-main,
body.author .site-main{
}
.blog-container .site-main,
body.author .site-main{
	padding: 30px 0 20px 20px;
}
.blog-container .site-main .post,
body.author .site-main .post{
	width: 25%;
	float: left;
	padding-right: 20px;
	padding-bottom: 40px;
}
.left-sidebar .blog-container .site-main .post,
.right-sidebar .blog-container .site-main .post{
	width: 33.3333%;
}
.hentry:before,
.hentry:after {
	display: table;
	content: "";
}
.hentry:after {
	clear: both;
}
.entry-content{
	padding: 15px 20px 20px;
	font-family: 'Raleway', sans-serif;
}
.fullwidth-notitle .entry-content{
	padding: 0;
}
.entry-thumb {
	background: #FFF;
	position: relative;
}
.entry-thumb .posted-on {
	position: absolute;
	width: 76px;
	background: #e55a54;
	z-index: 10;
	left: 10px;
	top: 10px;
	text-align: center;
}
.entry-thumb .posted-on span {
	display: block;
	color: #fff;
	text-transform: uppercase;
}
.entry-thumb .posted-on span.date {
	padding: 10px 0 0;
	font-size: 40px;
	line-height: 46px;
}
.entry-thumb .posted-on span.month {
	padding: 0 0 10px;
}
.entry-thumb .posted-on span.year {
	background: #353533;
	font-size: 16px;
	padding: 6px 0;
}
.entry-thumb img,
.entry-thumb iframe {
	width: 100%;
}
.entry-thumb > iframe {
	margin-bottom: -5px;	
}
.entry-thumb input[type="password"] {
	border: 2px solid #ccc;
	height: 48px;
	margin-left: 25%;
	padding: 10px;
	width: 50%;
	margin-top: 155px;
}
.entry-thumb > a {
	position: relative;
	backface-visibility: hidden;
	display: block;
	width: 100%;
	height: 100%;
}
.entry-thumb:hover > a {
	opacity: .9;
}
.entry-thumb > a:before,
.entry-thumb > a:after {
	bottom: 30px;
	content: "";
	left: 30px;
	opacity: 0;
	position: absolute;
	right: 30px;
	top: 30px;
	pointer-events: none;
	-webkit-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
	-moz-transition:    opacity 0.35s ease 0s, transform 0.35s ease 0s;
	transition:         opacity 0.35s ease 0s, transform 0.35s ease 0s;
}
.entry-thumb > a:before {
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	-webkit-transform: scale(0, 1);
	-moz-transform:    scale(0, 1);
	-ms-transform:     scale(0, 1);
	-o-transform:      scale(0, 1);
	transform:         scale(0, 1);
}
.entry-thumb > a:after {
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	-webkit-transform: scale(1, 0);
	-moz-transform:    scale(1, 0);
	-ms-transform:     scale(1, 0);
	-o-transform:      scale(1, 0);
	transform:         scale(1, 0);
}
.entry-thumb:hover > a:before,
.entry-thumb:hover > a:after {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform:    scale(1);
	-ms-transform:     scale(1);
	-o-transform:      scale(1);
	transform:         scale(1);
}
.post.sticky .entry-header {
	position: relative;
	overflow: hidden;
}
.post.sticky .entry-header:before {
	background: #363636;
	color: #fff;
	content: "Sticky";
	font-weight: 700;
	height: 50px;
	left: -46px;
	line-height: 50px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	top: 0;
	transform: rotate(-45deg);
	width: 150px;
	z-index: 1;
}
.post .entry-content {
	color: #363636;
	background: #FFF;
}
.post .entry-content ul,
.post .entry-content ol {
	list-style: inside;
}
.format-video .wr-element-video,
.format-audio .wp-audio-shortcode {
	margin: 0 !important;
}
.format-audio .mejs-container {
	height: 60px !important;
}
.format-audio .mejs-container .mejs-controls {
	top: 0;
	margin: auto;
}
.format-quote .quote-content {
	position: relative;
	padding: 30px;
	text-align: center;
	font-size: 18px;
	font-style: italic;
}
.format-quote .quote-content > p {
	margin-bottom: 0;
}
.quote-author:before,
.quote-author:after {
	content: "-";
}
.format-audio .entry-thumb audio {
	width: 100%;
	background: #212014;
	margin-bottom: 25px;
}
.cat-links{
	font-weight: 700;
	text-transform: uppercase;
	color: #6f6f6f;
	font-size: 10px;
}
.cat-links a{
	color: #6f6f6f;
}
.cat-links a:hover{
	color: #e55a54;
}
.entry-title {
	margin-bottom: 15px;
	line-height: 1;
	position: relative;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 14px;
	margin: 5px 0 15px;
}
.entry-title:after{
	display: block;
	content: "";
	width: 20px;
	height: 2px;
	background: #e55a54;
	margin-top: 10px;
	transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
	-moz-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
	-ms-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
	-webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}
.entry-title:hover:after{
	width: 100px;
}
.entry-title a {
	color: #282828;
	font-size: 14px;
	font-weight: 800;	
}
.entry-title a:hover,
.entry-meta a:hover,
.more-link {
	color: #e55a54;
}
.entry-meta {
	font-size: 12px;
	color: #717072;
	padding: 8px 20px;
	border-top: 1px solid #e1e1e1;
	background: #FFF;
	position: relative;
	font-family: "Arial";
}
.entry-meta .post-avatar,
.entry-meta .meta-info{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.entry-meta a,
.more-link:hover  {
	color: #717072;
}
.entry-meta .social-share > i{
	position: absolute;
	top: 50%;
	right: 20px;
	font-size: 24px;
	transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	color: #525456;
	cursor: pointer;
}
.entry-meta .single-share{
	position: absolute;
	bottom: 90%;
	right: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 300ms ease-in-out 0s;
	-ms-transition: all 300ms ease-in-out 0s;
	-webkit-transition: all 300ms ease-in-out 0s;
	-moz-transition: all 300ms ease-in-out 0s;
}
.entry-meta .social-share:hover .single-share{
	bottom: 100%;
	opacity: 1;
	visibility: visible;
}
.entry-meta .single-share .single-icon{
	display: none;
}
.entry-meta .single-share .social{
	text-align: right;
}
.more-link {
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 20px;
	font-weight: 600;
}
.small-thumb > *:not(.quote-content) {
	float: left;
}
.small-thumb .entry-thumb {
	width: 34%;
	margin-right: 4%;
	margin-top: 0;
}
.small-thumb .entry-content {
	width: 62%;
}
.small-thumb .entry-title a {
	font-size: 26px;
	line-height: 30px;
	display: block;
}
.breadcrumbs {
	padding: 15px;
	background: #FFF;
	margin: 0;
	text-align: center;
	box-shadow: 0 8px 6px -6px #ccc;
	-moz-box-shadow: 0 8px 6px -6px #ccc;
	-ms-box-shadow: 0 8px 6px -6px #ccc;
	-webkit-box-shadow: 0 8px 6px -6px #ccc;
}
.breadcrumbs li {
	list-style: none;
	display: inline-block;
	font-size: 12px;
	margin-right: 10px;
	position: relative;
}
.breadcrumbs li:after{
	display: inline-block;
	content: "/";
	margin: 0 0 0 8px;
}
.breadcrumbs li.current:after{
	display: none;
}
.breadcrumbs li.current,
.breadcrumbs li a {
	text-transform: uppercase;
	font-size: 13px;
}
.single .post {
	padding: 0;
}
.single .post .entry-header,
.single .post .entry-content{
	background: none;
}
.single .post .entry-title {
	padding: 0;
}
.single .post > .container,
.comments-container{
	max-width: 830px;
	padding: 0 15px;
}
.single .post .entry-header{
	padding: 55px 0 0;
}
.single .post .single-thumbnail{
	height: 400px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.single .post .entry-title:after{
	display: none;
}
.single .post .entry-title{
	font-size: 35px;
	font-weight: 700;
	text-transform: none;
	margin: 20px 0;
}
.single .post .entry-meta{
	background: none;
	padding: 0;
	border: none;
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
}
.single .post .entry-meta a{
	color: #e55a54;
}
.single .post .entry-meta a:hover{
	color: #353533;
}
.single .post .entry-content{
	padding: 30px 0;
	height: auto !important;
}
.single .post .entry-thumb,
.single .post .entry-thumb iframe{
	height: auto !important;
}
.single .post .entry-thumb iframe{
	min-height: 400px;
}
.single-nav {
	margin-bottom: 30px;
	padding-bottom: 15px;
	border-bottom: 1px solid #e6e6e6;
}
.single-nav > * {
	width: 50%;
	float: left;
	font-size: 14px;
}
.single-nav .next {
	text-align: right;
	float: right;
}
.single-nav span {
	font-size: 13px;
}
.tags-links {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	padding: 20px 0;
	font-size: 14px;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}
.tags-links span{
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	margin-right: 30px;
}
.tags-links,
.tags-links a{
	color: #363636;
}
.tags-links a:hover {
	color: #e55a54;
}
.page-numbers {
	margin: 0;
	list-style: none;
	width: 100%;
	text-align: center;
}
.page-numbers li {
	display: none;
}
.page-numbers li.wr-pagination-reamore {
	display: inline-block;
}
.page-numbers li.wr-pagination-reamore a {
	background: rgba(54, 54, 54, 1);
	color: #FFF;
	display: block;
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	border-radius: 3px;
}
.page-numbers li.wr-pagination-reamore a:hover {
	background: #e55a54;
}
.comments-area {
	font-size: 14px;
}
.comments-title {
	padding-bottom: 15px;
}
.comments-area h3 {
	font-size: 16px;
	color: #363636;
	text-transform: uppercase;
	font-weight: 700;
}
.comments-area ol {
	list-style: none;
	margin: 0 0 0 36px;
}
.comments-area ol.children:before {
	top: -40px;
}
.comments-area .comment-list > li {
	margin-top: 50px;
}
.comments-area .comment-list > li:first-child{
	margin-top: 0;
}
.comments-area .comment-body {
	position: relative;
	display: inline-block;
	width: 100%;
	z-index: 10;
	border: 1px solid #ccc;
	padding: 20px 20px 20px 0;
}
.comments-area .comment-body .comment-avatar {
	float: left;
	margin:-10px 20px 0 -36px;
	text-align: center;
	position: relative;
}
.comments-area .comment-body .comment-avatar img{
	border-radius: 50%;
}
.comments-area .comment-body .comment-meta,
.comments-area .comment-body .comment-content{
	margin-left: 56px;
}
.comments-area .comment-body .comment-author {
	font-size: 16px;
	color: #363636;
	font-style: normal;
	text-transform: uppercase;
	font-weight: 700;
	margin-right: 10px;
}
.comments-area .comment-body time {
	color: #808080;
	font-family: "Arial";
	font-size: 12px;
	font-style: normal;
}
.comments-area .comment-body .comment-content {
	color: #282828;
	font-size: 16px;
	font-family: "Georgia";
	font-style: italic;
}
.comments-area .comment-body footer {
	padding-left: 75px;
}
.comments-area .action-link{
	float: right;
}
.comments-area .action-link a {
	position: relative;
	color: #fff;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
	background: #363636;
	margin:0 0 0 10px;
	padding: 3px 10px;
	font-family: 'Raleway', sans-serif;
}
.comments-area .action-link a:hover {
	background: #e55a54;
}
.comments-area .children li {
	margin-left: 60px;
	margin-top: 50px;
}
.comment-respond{
	border-top: 2px solid #cccccc;
	margin: 60px 0 0;
	padding: 0 0 30px;
}
.comment-respond .comment-reply-title {
	margin: 30px 0 20px;
}
.comment-respond .comment-form {
	overflow: hidden;
}
.comment-respond .comment-form label {
	font-weight: normal;
	color: #808080;
	font-family: "Arial";
	font-size: 12px;
	display: block;
	position: absolute;
	top: 15px;
	left: 20px;
}
.comment-respond .comment-form .required {
	color: #ff0000;
}
.comment-respond .comment-form .comment-form-author,
.comment-respond .comment-form .comment-form-email,
.comment-respond .comment-form .comment-form-url {
	width: 32%;
	float: left;
	position: relative;
}
.comment-respond .comment-form .comment-form-comment{
	position: relative;
}
.comment-respond .comment-form .comment-form-email,
.comment-respond .comment-form .comment-form-url {
	margin-left: 2%;
}
.comment-respond .comment-form [class*="comment-form"] input {
	height: 56px;
}
.comment-respond .comment-form [class*="comment-form"] input,
.comment-respond .comment-form .comment-form-comment textarea {
	padding: 10px;
	width: 100%;
	border: none;
	background: #cccccc;
	border-radius: 0;
}
.comment-respond .comment-form [class*="comment-form"] input:focus,
.comment-respond .comment-form .comment-form-comment textarea:focus {
	outline: none;
}
.comment-respond .comment-form .form-submit input[type="submit"] {
	font-size: 12px;
	letter-spacing: 3px;
}
/*  [ Pagination Slider ]
- - - - - - - - - - - - - - - - - - - - */
body:before{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0);
	color: #FFF;
	font-size: 40px;
	z-index: 1000;
	content: "";
	visibility: hidden;
	transition: all 400ms ease-in-out 0s;
	-ms-transition: all 400ms ease-in-out 0s;
	-moz-transition: all 400ms ease-in-out 0s;
	-webkit-transition: all 400ms ease-in-out 0s;
}
body.pagination-loading:before{
	background: rgba(0, 0, 0, 0.4);
	visibility: visible;
}
body.pagination-loading:after{
	position: fixed;
	content: "";
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	background-image: url('../img/icons/loading.gif');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 43px;
	height: 43px;
	z-index: 1200;

}
/*  [ Widget Style ]
- - - - - - - - - - - - - - - - - - - - */
.widget {
	padding: 0 0 20px;
	font-size: 14px;
}
.widget select,
.widget input {
	padding: 10px;
	border: 1px solid #e5e5e5;
	font-size: 12px;
}
.widget select {
	background: none;
	width: 100%;
}
.widget input {
	width: -moz-calc( 100% - 30px );
	width: -webkit-calc( 100% - 30px );
	width: calc( 100% - 30px );
}
.widget input:focus {
	border-color: #e55a54;
}
.widget_search .search-submit {
	display: none;
}
.widget a,
.widget ul li a:hover {
	color: #e55a54;
}
.widget-title {
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 10px;
	font-weight: 700;
}
.widget a:hover,
.widget-title a,
.widget ul li a {
	color: #363636;
}
.widget .textwidget,
.widget .tagcloud {
	overflow: hidden;
}
.widget ul {
	list-style: none;
	margin: 0;
}
.widget ul li {
	position: relative;
	padding: 8px 0;
	border-bottom: 1px solid #e1e1e1;
}
.widget ul.children li:last-child,
.widget li.menu-item-has-children {
	border: 0;
}
.widget ul ul li {
	position: relative;
	padding-left: 20px;
}
.widget ul ul li:before,
.widget ul ul li:after {
	content: "";
	position: absolute;
	background: #e2e2e2;
}
.widget ul ul li:before {
	left: 0;
	top: 18px;
	width: 12px;
	height: 1px;
}
.widget ul ul li:after {
	left: 0;
	top: 0;
	width: 1px;
	height: 100%;
}
.widget ul.children,
.widget ul.sub-menu {
	margin-top: 10px;
	margin-bottom: -8px;
}
.widget .menu .sub-menu {
	opacity: 1;
	visibility: visible;
	position: inherit;
}
.widget #wp-calendar caption {
	background: #e55a54;
	color: #fff;
	padding: 10px;
	text-transform: uppercase;
}
.widget #wp-calendar caption,
.widget #wp-calendar th,
.widget #wp-calendar td {
	text-align: center;
}
.widget .tagcloud a {
	display: inline-block;
	float: left;
	margin: 0 2px 2px 0;
	font-size: 13px !important;
	padding: 4px 15px;
	background: #e55a54;
	color: #fff;
}
.widget .tagcloud a:hover {
	background: #d02f22;
}
.widget_search {
	background: none;
}
.widget_search .widget-title {
	display: none;
}
.widget_search input {
	width: calc(100% - 20px);
	width: -moz-calc(100% - 20px);
	width: -webkit-calc(100% - 20px);
}
.null-instagram-feed.widget ul li:before {
	display: none;
}
.null-instagram-feed.widget ul li {
	margin: 0;
	padding: 0 !important;
	float: left;
}
.null-instagram-feed.widget ul li img {
	width: 88px;
}
.null-instagram-feed.widget ul:hover li a {
	opacity: .5;
}
.null-instagram-feed.widget ul li:hover a {
	opacity: 1;
}
.newsletter-widget form {
	margin-top: 15px;
	overflow: hidden;
}
.newsletter-widget form > p {
	float: left;
}
.newsletter-widget form input {
	-webkit-border-radius: 0;
	-moz-border-radius:    0;
	-ms-border-radius:     0;
	border-radius:         0;
}
.newsletter-widget form input.newsletter-email {
	width: 178px;
}
.newsletter-widget form input.newsletter-submit {
	height: 41.5px;
	line-height: 40px;
	padding: 0 15px;
	text-transform: uppercase;
	width: auto;
	height: 36px\9;
	line-height: 34px\9;
}

/*  [ 404 Page ]
- - - - - - - - - - - - - - - - - - - - */
.error-404 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 110px 0 0;
	text-align: center;
}
.error-bg {
	background-image: url(../img/bg-404.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}
.error-404 .page-content{
	width: 475px;
	height: 475px;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	top: 40%;
	left: 50%;
	box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.20);
	-moz-box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.20);
	-ms-box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.20);
	-webkit-box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.20);
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
.error-404 .inner-content{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translate(0, -50%);
	-moz-transform: translate0, -50%);
	-ms-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
}
.error-404 .error-404-img{
	width: 177px;
	height: 103px;
	display: inline-block;
	background-image: url(../img/img-404.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	font-size: 0;
}
.error-404 .error-title {
	font-size: 34px;
	color: #283f59;
	font-weight: 700;
	text-transform: uppercase;
}
.error404 p {
	font-size: 16px;
	color: #283f59;
}


/*  [ Offline Page ]
- - - - - - - - - - - - - - - - - - - - */
.offline #page {
	background: #fff;
	height: 100%;
	width: 100%;
}
.offline .site-content {
	margin: 0;
	width: 100%;
	height: 100% !important;
}
.offline .site-footer,
.offline .cd-nav-trigger{
	display: none;
}
.page-offline {
	left: 50%;
	position: relative;
	text-align: center;
	top: 50%;
	z-index: 9;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform:    translateX(-50%) translateY(-50%);
	-ms-transform:     translateX(-50%) translateY(-50%);
	-o-transform:      translateX(-50%) translateY(-50%);
	transform:         translateX(-50%) translateY(-50%);
	padding: 0 15px;
}
.page-offline h3 {
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: normal;
	margin-bottom: 20px;
}
.page-offline .countdown {
	margin: 20px 0 0;
	padding-top: 115px;
	list-style: none;
	display: inline-block;
	position: relative;
}
.page-offline .countdown:before{
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 20px);
	width: -moz-calc(100% - 20px);
	width: -webkit-calc(100% - 20px);
	margin: 0 10px;
	height: 100%;
	content: "";
	display: block;
	background-image: url(../img/countdown.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top center;
}
.page-offline .countdown ul{
	margin: 0;
	border: 5px solid #dcdcdc;
	border-radius: 20px;
	padding: 20px 30px;
	overflow: hidden;
}
.page-offline .countdown li {
	display: inline-block;
	width: 70px;
	height: 70px;
	text-align: center;
	margin: 0 5px;
	font-size: 40px;
	line-height: 50px;
	text-transform: uppercase;
	color: #353533;
	font-family: "Arial";
	position: relative;
}
.page-offline .countdown li span {
	display: block;
	font-size: 10px;
	margin-top: 0;
	line-height: normal;
	color: #a5a3a3;
}
.page-offline .offline-img{
	margin-top: 50px;
}

/*  [ Footer ]
- - - - - - - - - - - - - - - - - - - - */
.site-footer{
	background: #FFF;
	padding: 15px 0;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9900;
	min-height: 90px;
	/*
	box-shadow: 0 -5px 7px -3px #ccc;
	-moz-box-shadow: 0 -5px 7px -3px #ccc;
	-ms-box-shadow: 0 -5px 7px -3px #ccc;
	-webkit-box-shadow: 0 -5px 7px -3px #ccc;
	*/
}
.site-footer:after{
	position: absolute;
	background: #FFF;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	content: "";
	z-index: 1;
}
.left-footer,
.right-footer{
	float: left;
	width: 50%;
	position: relative;
	z-index: 100;
}
.left-footer {
	padding: 4px 0;
}
.left-footer .site-branding {
	margin-left: 15px;
}
.left-footer .site-branding .site-logo img {
	height: 31px;
}
.bottom-info{
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	font-family: 'Arial';
	color: #717171;
	margin-left: 15px;
}
.right-footer{
	padding: 17px 20px;
}
.right-footer .language,
.right-footer .currency,
.right-footer .right-footer-content{
	vertical-align: middle;
	float: right;
}
.right-footer .currency{
	padding-right: 10px;
	margin-right: 15px;
	border-right: 1px solid #ebebeb;
}
.right-footer .right-footer-content{
	margin: 0 15px;
}
.right-footer ul{
	margin: 0;
	padding: 0;
}
.right-footer li{
	list-style: none;
	display: inline-block;
}
.right-footer li a{
	font-family: 'Arial';
	font-size: 15px;
	font-weight: bold;
	margin: 0 7px;
	color: #373737;
	line-height: 18px;
}
.right-footer li a:hover{
	color: #e55a54;
}
.bottom-info a{
	color: #717171;
}
.more-inner-footer{
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 0;
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
}
.more-inner-footer.has-children-show{
	top: -100%;
	height: 90px;
	background: #363636;
}
.more-inner-footer .tab{
	position: absolute;
	bottom: 100%;
	margin-bottom: 1px;
	right: 20px;
}
.more-inner-footer.has-children-show .tab{
	bottom: 100%;
}
.more-inner-footer .tab ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.more-inner-footer .tab li{
	float: left;
	margin-right: 1px;
}
.more-inner-footer .tab li a,
.more-inner-footer a.cart-mobile{
	display: block;
	width: 48px;
	height: 48px;
	background: #fff;
	color: #464646;
	line-height: 48px;
	text-align: center;
	font-size: 20px;
	position: relative;
}
.more-inner-footer a.cart-mobile{
	display: none;
}
.more-inner-footer .tab li a:hover,
.more-inner-footer a.cart-mobile:hover{
	color: #e55a54;
}
.more-inner-footer .tab li a.active{
	background: #363636;
	color: #FFF;
	outline: none;
}
.more-inner-footer .tab li a span,
.more-inner-footer a.cart-mobile span{
	display: block;
	height: 22px;
	width: 22px;
	color: #FFF;
	background: #ff6074;
	position: absolute;
	top: 3px;
	right: 1px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-webkit-border-radius: 50%;
	line-height: 22px;
	text-align: center;
	font-size: 12px;
	font-family: "Arial";
}
.more-inner-footer .tab-content{
	display: none;
	background: #363636;
	transition: all 700ms ease-in-out 0s;
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.more-inner-footer .tab-content.out-left {
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
}
.more-inner-footer .tab-content.in-right {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}
.more-inner-footer .tab > ul {
	display: inline-block;
	vertical-align: top;
}
.more-inner-footer a.purchase {
	background: #e55a54 none repeat scroll 0 0;
	color: #fff;
	display: inline-block;
	font-weight: 600;
	height: 48px;
	line-height: 48px;
	margin-right: -3px;
	padding: 0 20px;
	text-transform: uppercase;
	vertical-align: top;
}
.more-inner-footer a.purchase:hover {
	background: rgba(54, 54, 54, 1) none repeat scroll 0 0;
}

/*  [ login and register ]
- - - - - - - - - - - - - - - - - - - - */
.bottom-info .login-register {
	margin-bottom: 5px;
}
.bottom-info .login-register a:hover {
	text-decoration: underline;
}
.ui-widget-content[aria-describedby="ajax-login-register-login-dialog"],
.ui-widget-content[aria-describedby="ajax-login-register-dialog"] {
	border: 1px solid #ccc;
	box-shadow: 0 0 0 20px #fff;
	-o-box-shadow: 0 0 0 20px #fff;
	-ms-box-shadow: 0 0 0 20px #fff;
	-moz-box-shadow: 0 0 0 20px #fff;
	-webkit-box-shadow: 0 0 0 20px #fff;
	padding: 30px 50px;
	top: -50% !important;
	transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.ui-widget-content[aria-describedby="ajax-login-register-login-dialog"] .ui-dialog-titlebar,
.ui-widget-content[aria-describedby="ajax-login-register-dialog"] .ui-dialog-titlebar {
	background: none;
	padding: 0;
	text-align: left;
	margin-bottom: 28px;
}
.ui-widget-content[aria-describedby="ajax-login-register-login-dialog"] .ui-dialog-titlebar .ui-dialog-title,
.ui-widget-content[aria-describedby="ajax-login-register-dialog"] .ui-dialog-titlebar .ui-dialog-title {
	color: #333;
	font-size: 20px;
}
.ui-widget-content[aria-describedby="ajax-login-register-login-dialog"] .ui-dialog-titlebar .ui-dialog-title:after,
.ui-widget-content[aria-describedby="ajax-login-register-dialog"] .ui-dialog-titlebar .ui-dialog-title:after {
	content:' ';
	display: block;
	width: 25px;
	height: 2px;
	background: #171717;
	margin-top: 12px;
}
.ui-widget-content[aria-describedby="ajax-login-register-login-dialog"] .ui-dialog-titlebar .ui-dialog-titlebar-close,
.ui-widget-content[aria-describedby="ajax-login-register-dialog"] .ui-dialog-titlebar .ui-dialog-titlebar-close {
	background: url(../img/icons/close-popup.png) no-repeat center;    
	width: 16px;    
	height: 15px;
	padding: 0;
	top: -37px;
	right: -38px;
}
.ui-widget-content[aria-describedby="ajax-login-register-login-dialog"] .ui-dialog-titlebar .ui-dialog-titlebar-close:before,
.ui-widget-content[aria-describedby="ajax-login-register-dialog"] .ui-dialog-titlebar .ui-dialog-titlebar-close:before {
	content: '';
}
.ui-widget-content[aria-describedby="ajax-login-register-login-dialog"] .ui-dialog-content,
.ui-widget-content[aria-describedby="ajax-login-register-dialog"] .ui-dialog-content {
	padding: 0;
}
.ui-widget-content[aria-describedby="ajax-login-register-login-dialog"] .ui-dialog-content input[type="text"],
.ui-widget-content[aria-describedby="ajax-login-register-dialog"] .ui-dialog-content input[type="text"],
.ui-widget-content[aria-describedby="ajax-login-register-login-dialog"] .ui-dialog-content input[type="password"],
.ui-widget-content[aria-describedby="ajax-login-register-dialog"] .ui-dialog-content input[type="password"] {
	border: 1px solid #ccc;
	font-style: normal;
	color: #333;
	padding: 0 10px;
}

.ui-widget-content[aria-describedby="ajax-login-register-login-dialog"] .ui-dialog-content input[name="rememberme"],
.ui-widget-content[aria-describedby="ajax-login-register-dialog"] .ui-dialog-content input[name="rememberme"]{
	float: left;
	margin: 2px 5px 0 0;
}
.ui-widget-content[aria-describedby="ajax-login-register-login-dialog"] .ui-dialog-content .login_button,
.ui-widget-content[aria-describedby="ajax-login-register-dialog"] .ui-dialog-content .register_button  {
	color: #fff;
	background: #000;
	text-transform: capitalize;
	width: 115px;
	font-size: 15px;
	transition:all 0.2s;
	-o-transition:all 0.2s;
	-ms-transition:all 0.2s;
	-moz-transition:all 0.2s;
	-webkit-transition:all 0.2s;
}
.ui-widget-content[aria-describedby="ajax-login-register-login-dialog"] .ui-dialog-content .login_button:hover,
.ui-widget-content[aria-describedby="ajax-login-register-dialog"] .ui-dialog-content .register_button:hover {
	background:#333;
}
.ui-widget-content[aria-describedby="ajax-login-register-login-dialog"] .ui-dialog-content:after,
.ui-widget-content[aria-describedby="ajax-login-register-login-dialog"] .ui-dialog-content:before,
.ui-widget-content[aria-describedby="ajax-login-register-login-dialog"]:after,
.ui-widget-content[aria-describedby="ajax-login-register-login-dialog"]:before,
.ui-widget-content[aria-describedby="ajax-login-register-dialog"] .ui-dialog-content:after,
.ui-widget-content[aria-describedby="ajax-login-register-dialog"] .ui-dialog-content:before,
.ui-widget-content[aria-describedby="ajax-login-register-dialog"]:after,
.ui-widget-content[aria-describedby="ajax-login-register-dialog"]:before {
	content: " ";
	display: table;
	clear:both;
}
.ui-widget-overlay {
	background: rgba(0, 0, 0, 0.8) !important;
	opacity: 1;
	-o-opacity: 1;
	-ms-opacity: 1;
	-moz-opacity: 1;
	-webkit-opacity: 1;
}

/*  [ search page ]
- - - - - - - - - - - - - - - - - - - - */
.search-container .search-form{
	text-align: center;
	padding: 0 0 30px;
}
.search-container .search-form label{   
	border: 1px solid #d7d7d7;
	display: inline-block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background: #fff;
}
.search-container .site-main .search-form input[type="search"],
.search-container .site-main .search-form input[type="text"]{
	height: 48px;
	border-radius: 0;
	padding: 5px 0 5px 10px;
	margin: 0 10px 0 0;
	width: 200px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	border:none;
	outline: none;
}
.search-container .page-content{
	text-align: center;
}
.search-container .page-title{
	margin-left: 0;
	margin-right: 0;
}
.search-container article{
	float: left;
	padding-bottom: 40px;
	padding-right: 20px;
	width: 25%;
}
.search-container article:nth-child(4n+1){
	clear: both;
}
.search-container article .entry-header,
.search-container article .entry-summary{
	background: #FFF;
}
.search-container .entry-title{
	padding: 15px 20px 10px;
	margin: 0;
}
.search-container .entry-summary{
	padding: 5px 20px;
}
.search-container .entry-thumb{
	min-height: 120px;
}

/*  [ 3rd party plugin ]
- - - - - - - - - - - - - - - - - - - - */
.ui-dialog {
	border-radius: 0;
	left: 50% !important;
	margin-left: -285px !important;
	width: 100% !important;
	max-width: 570px;
	font-family: 'Open Sans', sans-serif;
	background: #fff;
}
.ui-dialog .ui-dialog-titlebar {
	text-align: center;
	background: #ededed;
	padding: 30px 0;
	border: 0;
}
.ui-dialog .ui-dialog-title {
	font-size: 16px;
	color: #e55a54;
	text-transform: uppercase;
}
.ui-dialog .ui-dialog-titlebar-close {
	position: absolute;
	background: none;
	right: 5px;
	top: -15px;
}
.ui-dialog .ui-dialog-titlebar-close:hover,
.ui-dialog .ui-dialog-titlebar-close:active,
.ui-dialog .ui-dialog-titlebar-close:focus {
	border: 0;
	outline: none;
}
.ui-dialog .ui-dialog-titlebar-close:before {
	content: "\f335";
	font-family: dashicons;
	position: absolute;
	color: #bbb;
	font-size: 18px;
}
.ui-dialog .ui-dialog-titlebar-close:hover:before {
	color: #e55a54;
}
.ajax-login-default-form-container input[type="password"],
.ajax-login-default-form-container input[type="text"] {
	width: 100%;
	height: 46px;
	border: 2px solid #ededed;
	color: #a3a3a3;
	font-style: italic;
}
.ajax-login-default-form-container label {
	color: #353533;
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 10px;
}
.ajax-login-default-form-container input[type="submit"] {
	background: #e55a54;
	border: 0 none;
	border-radius: 0;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 0;
	padding: 22px 0;
	text-shadow: none;
	text-transform: uppercase;
	width: 100%;
}
.ajax-login-default-form-container input[type="submit"]:hover {
	color: #fff;
	background: #d02f22;
}

/*  [ Newsletter Popup ]
- - - - - - - - - - - - - - - - - - - - */
.yithpopup_overlay{
	background: rgba(0, 0, 0, 0.8);
}
.yithpopup_wrapper{
	border-radius:0;
}
.yithpopup_wrapper a.close{
	background: url(../img/icons/close-popup.png) no-repeat center;
	width: 16px;
	height: 15px;
	top: -15px;
	right: -20px;
}
#yith-popup-border{
	border:1px solid #cccccc;
	padding: 50px 30px;
}
h2#yith-popup-title{
	text-transform: uppercase;
}
h2#yith-popup-title:after{
	display:block;
	width:40px;
	height:2px;
	background: #282828;
	content: "";
	margin:10px auto;
}
div#yith-popup-right.yith-popup-full{
	width:100%;
	min-height:0;
	position: static;
	float: none;
}
p#yith-popup-message{
	text-align: center;
	min-height:0;
	line-height:24px;
	margin-bottom: 40px;
}
div#yith-popup-right.yith-popup-full input.name-field.text-field, 
div#yith-popup-right.yith-popup-full input.email-field.text-field{
	width:100%;
	height:45px;
	border:1px solid #cccccc;
	left:0;
	padding-right:120px;
}
.yith-popup-newsletter-form{
	max-width:370px;
	width:auto;
	margin: auto;
	position: relative;
	height: auto;
}
.yith-popup-newsletter-form .submit-field{
	font-size: 14px;
	color: #FFF;
	letter-spacing: normal;
	text-transform: none;
	padding: 0 20px;
	position: absolute;
	top:0;
	right:0;
	height:45px;
	line-height:45px;
}
.yith-popup-checkzone{
	position: static;
	padding:20px 0 0;
	text-align: center;
}
.no-view.yith-popup-checkbox{
	float:none;
}

/*  [ Contact Form ]
- - - - - - - - - - - - - - - - - - - - */
.jsn-bootstrap .success-contactform.alert-success{
	background: rgba(0, 0, 0, 0.3);
	border-color: rgba(255, 255, 255, 0.15);
	border-radius: 0;
	color: #fff;
	font-size: 14px;
	padding: 15px;
	text-shadow: none;
	position: relative;
}
.jsn-bootstrap .success-contactform.alert-success .close {
	color: #fff;
	height: auto;
	line-height: normal;
	opacity: 1;
	position: absolute;
	right: 0;
	top: 0;
}

/*  [ WordPress Gallery ]
- - - - - - - - - - - - - - - - - - - - */
.gallery {
	margin-bottom: 1.6em;
}
.gallery-item {
	display: inline-block;
	padding: 1.79104477%;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}
.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
	max-width: 25%;
}
.gallery-columns-5 .gallery-item {
	max-width: 20%;
}
.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}
.gallery-icon img {
	margin: 0 auto;
}
.gallery-caption {
	color: #707070;
	color: rgba(51, 51, 51, 0.7);
	display: block;
	font-family: "Noto Sans", sans-serif;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1.5;
	padding: 0.5em 0;
}
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}