/**
 * @version    1.3
 * @package    Ninja
 * @author     WooRockets Team <support@woorockets.com>
 * @copyright  Copyright (C) 2014 WooRockets.com. All Rights Reserved.
 * @license    GNU/GPL v2 or later http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Websites: http://www.woorockets.com
 * The stylesheet for display on mobile and tablets device
 */
 @media only screen and (max-width: 1170px){
 	.blog-container .site-main .post, body.author .site-main .post,
 	.search-container article {
	    width: 33.3333%;
	}
	.search-container article:nth-child(4n+1){
		clear: none;
	}
	.search-container article:nth-child(3n+1){
		clear: both;
	}
	.page-title{
		padding-left: 15px;
		padding-right: 15px;
	}
 }
 @media only screen and (max-width: 960px){
 	.bottom-info{
 		padding-left: 20px;
 	}
 	.site-branding .site-title{
 		border: none;
 	}
 	.site-network .social{
 		margin: 0;
 	}
 	.social li{
 		margin: 0 5px;
 	}
 	.social li:after{
 		display: none;
 	}
 	.social li a{
 		font-size: 0;
 	}
 	.social li a i{
 		font-size: 17px;
 		display: inline;
 	}
 	.shop-cart .shop-item .total, 
 	.shop-cart .shop-item .buttons, 
 	.shop-cart .shop-item ul{
 		margin: 0 0 0 15px;
 	}
 	.shop-cart .shop-item .buttons a{
 		padding: 0 20px;
 		height: 40px;
 		line-height: 40px;
 		font-size: 14px;
 	}
 	.shop-cart .shop-item .total .amount{
 		font-size: 18px;
 	}
 	.shop-cart .shop-item li{
 		margin-right: 10px !important;
 	}
 	.yithpopup_wrapper {
 		height: auto;
 	}
 }

@media only screen and (min-width: 768px){
	#menu-main li.current-menu-item > a,
	#menu-main li a:hover {
		color: #ffffff;
		margin: -25px 0 0 -5px;
		text-shadow: 15px 10px 2px #000;
		-o-text-shadow: 15px 10px 2px #000;
		-ms-text-shadow: 15px 10px 2px #000;
		-moz-text-shadow: 15px 10px 2px #000;
		-webkit-text-shadow: 15px 10px 2px #000;
		filter: progid:DXImageTransform.Microsoft.Shadow(color=#000,direction=45);
	}
}
 
@media only screen and (max-width: 768px), (max-device-width: 1024px) {
	#menu-main li a,
	#menu-main li .sub-menu li a{
		font-size: 22px;
		line-height: 45px;
	}
	#menu-main li .sub-menu{
		margin-left: 30px;
	}
	#menu-main li .sub-menu:before {
	    font-size: 25px;
	    line-height: 45px;
	}
	#menu-main li .sub-menu li::after {
	    font-size: 20px;
	    margin: 0 15px;
	}
	.search-box input {
		width: 200px;
	}
	.header-bot {
		position: relative;
	}
	.right-bot {
		margin-right: 20px;
	}
	.admin-bar .header-bot.sticky {
		margin-top: 0;
	}
	body.blog .site-content, 
	body.author .site-content, 
	body.single-post .site-content{
		overflow-y: auto;
	}
	.single-post-container .site-main, 
	.blog-container .site-main, body.author .site-main{
		position: static;
		height: auto;
	}
	.primary-sidebar, 
	.secondary-sidebar{
		position: static;
		width: auto;
		padding: 30px 15px 15px;
		overflow: hidden;
		height: auto !important;
	}
	.primary-sidebar .widget,
	.secondary-sidebar .widget{
		padding-left: 10px;
		padding-right: 10px;
	}
	.single-post-container .primary-sidebar .widget, 
	.single-post-container .secondary-sidebar .widget{
		max-width: 800px;
		margin: 0 auto;
		padding-left: 0;
		padding-right: 0;
	}
	.left-sidebar .site-main, 
	.left-sidebar .page-title, 
	.left-sidebar .blog-container .site-main, 
	.left-sidebar .blog-container .page-title,
	.right-sidebar .site-main, 
	.right-sidebar .page-title, 
	.right-sidebar .blog-container .site-main, 
	.right-sidebar .blog-container .page-title{
		margin-left: 0;
		margin-right: 0;
	}
	.social,
	.site-footer .bot .bot-right,
	.content-right .primary-sidebar {
		margin-top: 20px;
	}
	.error-404 h1 {
		font-size: 320px;
		margin-top: 30px;
	}
	.error-404 h1 span {
		height: 240px;
		width: 226px;
	}
	.error-404 h1 span:before {
		background-size: 70%;
	}
	.site-footer .mid {
		padding: 30px 15px;
	}
	.site-footer .mid .columns.three {
		width: 48.9362%;
	}
	.site-footer .mid .columns.three:nth-child(2n) {
		margin-right: 0;
	}

	.blog-container .site-main .post, body.author .site-main .post,
	.search-container article,
	.left-sidebar .blog-container .site-main .post,
	.right-sidebar .blog-container .site-main .post{
		width: 50%;
	}
	.search-container article:nth-child(3n+1){
		clear: none;
	}
	.search-container article:nth-child(2n+1){
		clear: both;
	}
	.yithpopup_wrapper.yith-popup {
		width: 85%;
	}
}
@media only screen and (max-width: 767px){
	.left-footer{
		float: none;
		width: auto;
		text-align:center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
	}
	.left-footer .site-branding {
		margin-left: 0;
	}
	.right-footer {
		display: none;
	}
	.bottom-info {
		padding-left: 0;
		margin-left: 0;
	}
	.site-footer {
		min-height: 110px;
	}
	.site-branding .site-title{
		border: none;
	}
	.ui-widget-content[aria-describedby="ajax-login-register-login-dialog"],
	.ui-widget-content[aria-describedby="ajax-login-register-dialog"] {
	 	padding: 10px 20px;
	 	max-width: 400px;
	 	margin-left: -200px!important;
	 }

	.cd-nav-trigger{
		left: auto;
		right: 20px;
	}
	.cd-contact-info{
		display: none;
	}
	.more-inner-footer .tab{
		right: 1px;
	}
	.more-inner-footer .tab ul{
		display: none;
	}
	.more-inner-footer a.cart-mobile{
		display: block;
	}
	.woocommerce table.shop_table td,
	.woocommerce-page table.shop_table td {
		padding: 10px 5px;
	}
	.woocommerce #content .product-quantity, .woocommerce .product-quantity, .woocommerce-page #content .product-quantity, .woocommerce-page .product-quantity {
		width: 50px;
		text-align: center;
		min-width: initial;
	}
	.woocommerce #content .product-quantity .quantity, .woocommerce .product-quantity .quantity, .woocommerce-page #content .product-quantity .quantity, .woocommerce-page .product-quantity .quantity {
		width: auto;
		text-align: center;
		width: 50px;
	}
	.woocommerce #content .product-quantity .quantity input.qty, .woocommerce .product-quantity .quantity input.qty, .woocommerce-page #content .product-quantity .quantity input.qty, .woocommerce-page .product-quantity .quantity input.qty{
		margin-left: 0;
		width: 50px;
	}

}
@media only screen and (max-width: 540px), (max-device-width: 540px) {
	#menu-main li .sub-menu{
		margin-left: 0;
	}
	#menu-main > li > .sub-menu > li{
		display: block;
	}
	#menu-main > li > .sub-menu > li:after{
		display: none;
	}
	.small-thumb .entry-thumb,
	.small-thumb .entry-content,
	.post-slider .entry-thumb,
	.post-list .entry-content,
	.site-footer .breadcrumbs,
	.site-footer .social {
		width: 100%;
	}
	.blog-container .site-main, body.author .site-main{
		width: auto;
		padding: 15px;
	}
	.blog-container .site-main .post, body.author .site-main .post{
		padding-right: 0; 
	}
	.post-list .entry-content {
		padding: 0;
	}
	.error-404 h1 {
		font-size: 220px;
	}
	.error-404 h1 span {
		height: 162px;
		width: 156px;
	}
	.error-404 h1 span:before {
		background-size: 60%;
	}
	.blog-container .site-main .post, body.author .site-main .post,
	.search-container article,
	.left-sidebar .blog-container .site-main .post,
	.right-sidebar .blog-container .site-main .post{
		width: auto;
	}
	.search-container .site-main{
		padding: 0 15px;
	}
	.search-container article{
		padding-right: 0;
	}
	.search-form input[type="search"]{
		width: 100%;
		margin-bottom: 10px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	.post .entry-content{
		height: auto !important;
	}
	.single .post .entry-title{
		font-size: 24px;
		line-height: normal;
		margin-bottom: 0;
	}
	.comment-respond .comment-form .comment-form-author, 
	.comment-respond .comment-form .comment-form-email, 
	.comment-respond .comment-form .comment-form-url{
		float: none;
		width: auto;
		padding: 0;
		margin-left: 0;
	}
	.primary-sidebar .widget,
	.secondary-sidebar .widget{
		padding-left: 0;
		padding-right: 0;
	}
	.ui-widget-content[aria-describedby="ajax-login-register-login-dialog"],
	.ui-widget-content[aria-describedby="ajax-login-register-dialog"] {
	 	max-width: 300px;
	 	margin-left: -150px!important;
	 }
}
@media only screen and (max-width: 480px), (max-device-width: 480px) {
	.header-top .hotline,
	.top-navigation,
	.post-slider .entry-content,
	.error-404 .columns,
	.top-info,
	.blog-masonry .hentry,
	.blog-masonry .hentry.large {
		width: 100%;
	}
	.page-title {
		margin-bottom: 0;
	}
	.site-logo img {
		width: 50%;
	}
	.error-404 {
		padding: 40px 0 0;
	}
	.error-404 .columns,
	.top-info {
		text-align: center;
	}
	.error-404 .wr-icon-unhappy {
		margin: 0 auto 50px;
	}
	.error-404 input.search-field {
		width: 190px;
	}
	.error-404 input.search-submit {
		padding: 0 20px;
	}
	.header-bot .main-navigation .menu-toggle {
		right: 5px;
		top: 11px;
	}
	.header-bot.sticky .main-navigation .menu-toggle {
		top: 11px;
	}
	.header-bot .main-navigation.active .menu,
	.header-bot.sticky .main-navigation.active .menu {
		top: 58px;
	}
	.header-top .hotline,
	.top-navigation,
	#menu-top li {
		float: none;
		text-align: center;
	}
	#menu-top li {
		display: inline-block;
	}
	#menu-top li:first-child {
		padding-left: 0;
	}
	.p-info .p-image .mask,
	.p-info .p-image .mask:hover {
		border: 0;
	}
	.post-slider .post {
		margin: 0 10px;
	}
	.site-content .page-title h1 {
		font-size: 32px;
	}
	.entry-title a {
		font-size: 20px;
	}
	.entry-meta {
		font-size: 12px;
	}
	.jsn-master .jsn-bootstrap .jsn-row-container .jsn-input-xlarge-fluid {
		width: 88% !important;
	}
	.site-footer .top .social li {
		margin: 3px;
	}
	.error-404 h1 {
		font-size: 140px;
	}
	.error-404 h1 span {
		height: 105px;
		width: 92px;
	}
	.page-offline {
		left: auto;
		top: auto;
		padding: 30px 15px;
		-webkit-transform: none;
		-moz-transform:    none;
		-ms-transform:     none;
		-o-transform:      none;
		transform:         none;
	}
	.page-offline .countdown{
		padding-top: 0;
	}
	.page-offline .countdown:before{
		display: none;
	}
	.page-offline .countdown ul{
		padding: 10px;
	}
	.entry-thumb .posted-on {
		width: 66px;
	}
	.entry-thumb .posted-on span.date {
		font-size: 30px;
		line-height: 22px;
	}
	.yithpopup_wrapper.yith-popup #yith-popup-border {
		padding: 20px 10px 10px 10px;
		margin: 5px;
	}
	.yithpopup_wrapper.yith-popup #yith-popup-border #yith-popup-title {
    	font-size: 15px;
	}

	.tp-caption.custom-button, .custom-button{
		line-height: normal !important;
	}
}

@media only screen and (max-width: 320px), (max-device-width: 320px) {
	.yithpopup_wrapper.yith-popup #yith-popup-border #yith-popup-right #yith-popup-message {
		font-size: 12px;
		margin-bottom: 10px;
	}
	.yithpopup_wrapper.yith-popup #yith-popup-border h2#yith-popup-title:after{
    	margin: 0px auto;
	}
	.woocommerce .cart-collaterals .cart_totals table th, .woocommerce-page .cart-collaterals .cart_totals table th {
	  	width: 80px;
	}
	.left-footer {
		top: auto;
		left: 10px;
		text-align: left;
		-webkit-transform: translate(0,0);
		-moz-transform: translate(0,0);
		-o-transform: translate(0,0);
	}
	.site-branding {
		text-align: left;
	}
	.ui-widget-content[aria-describedby="ajax-login-register-login-dialog"],
	.ui-widget-content[aria-describedby="ajax-login-register-dialog"] {
	 	max-width: 250px;
	 	margin-left: -125px!important;
	 }
}