/**
 * @version    1.1
 * @package    Ninja
 * @author     WooRockets Team <support@woorockets.com>
 * @copyright  Copyright (C) 2014 WooRockets.com. All Rights Reserved.
 * @license    GNU/GPL v2 or later http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Websites: http://www.woorockets.com
 */

/*  [ Product slider vertical ]
- - - - - - - - - - - - - - - - - - - - */
.ps-container {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	color: #b9b9b9;
}

.ps-container > div {
	position: absolute;
	width: 50%;
}

.ps-container > div > div,
.ps-slidewrapper > nav,
.ps-slides > div {
	position: absolute;
}

.ps-contentwrapper {
	top: 0;
	right: 0;
	bottom: 0px;
	overflow: hidden;
	z-index: 1000;
}

.ps-content {
	width: 100%;
	height: 100%;
	padding: 70px 50px;
	background: #212121;
}
.ps-content .product-title{
	color: #e55a54;
	font-size: 26px;
	text-transform: none;
	line-height: normal;
}
.ps-content .product-title a{
	color: #e55a54;
}
.ps-content .price{
	font-size: 36px;
	color: #FFF;
	font-family: "Arial";
	display: block;
	margin-bottom: 20px;
}
.ps-content .price ins{
	background: none;
}
.ps-content .product_meta{
	margin: 30px 0;
	padding: 20px 0 0;
	border-top: 1px dashed #303030;
	color: #727272;
}
.ps-content .product_meta a{
	color: #727272;
}
.ps-content .product_meta a:hover{
	color: #e55a54;
}
.ps-content .product_meta span.label{
	display: inline-block;
	width: 150px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}
.ps-content .product_meta .icomoon{
	font-size: 18px;
    margin-right: 5px;
    vertical-align: middle;
}
.woocommerce .ps-content .add_to_cart_button{
	height: 55px;
	line-height: 55px;
	background: #e55a54;
	vertical-align: middle;
}
.woocommerce .ps-content .add_to_cart_button i{
	display: none;
}
.woocommerce .ps-content .add_to_cart_button:hover{
	color: #FFF;
}
.woocommerce .ps-content .add_to_cart_button.added{
	font-size: 0;
    letter-spacing: 0;
    padding: 0;
}
.woocommerce .ps-content .added_to_cart{
	height: 55px;
	line-height: 55px;
	background: #e55a54;
	display: inline-block;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 0 30px;
	color: #FFF;
	vertical-align: middle;
}

.ps-slidewrapper {
	top: 0px;
	height: 100%;
	overflow: hidden;
}

.ps-slides {
	top: 0px;
	bottom: 200px;
	width: 100%;
}

.ps-slides > div {
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 0 9999px rgba(179,157,250,0.1);
	-moz-box-shadow: inset 0 0 0 9999px rgba(179,157,250,0.1);
	-ms-box-shadow: inset 0 0 0 9999px rgba(179,157,250,0.1);
	-webkit-box-shadow: inset 0 0 0 9999px rgba(179,157,250,0.1);
}

.ps-slidewrapper > nav {
	width: 100%;
	height: 200px;
	bottom: 0px;
	right: 0px;
	z-index: 1000;
}

.ps-slidewrapper > nav > a {
	width: 50%;
	height: 100%;
	position: relative;
	float: left;
	outline: none;
}

.no-touch .ps-slidewrapper > nav > a {
	box-shadow: inset 0 0 0 9999px rgba(33,33,33,0.0);
	-moz-box-shadow: inset 0 0 0 9999px rgba(33,33,33,0.0);
	-ms-box-shadow: inset 0 0 0 9999px rgba(33,33,33,0.0);
	-webkit-box-shadow: inset 0 0 0 9999px rgba(33,33,33,0.0);
	-webkit-transition: box-shadow 0.4s ease-in-out;
	-moz-transition: box-shadow 0.4s ease-in-out;
	-ms-transition: box-shadow 0.4s ease-in-out;
	-o-transition: box-shadow 0.4s ease-in-out;
	transition: box-shadow 0.4s ease-in-out;
}

.no-touch .ps-slidewrapper > nav > a:hover {
	box-shadow: inset 0 0 0 9999px rgba(33,33,33,0.2);
	-moz-box-shadow: inset 0 0 0 9999px rgba(33,33,33,0.2);
	-ms-box-shadow: inset 0 0 0 9999px rgba(33,33,33,0.2);
	-webkit-box-shadow: inset 0 0 0 9999px rgba(33,33,33,0.2);
}

.ps-slides > div,
.ps-slidewrapper > nav > a {
	background-color: #fff;
	background-position: center top;
	background-repeat: no-repeat;
	-webkit-background-size: auto 100%;
	-moz-background-size: auto 100%;
	background-size: auto 100%;
}

.ps-move {
	-webkit-transition: top 400ms ease-out;
	-moz-transition: top 400ms ease-out;
	-o-transition: top 400ms ease-out;
	-ms-transition: top 400ms ease-out;
	transition: top 400ms ease-out;
}
@media screen and (max-width: 1024px) {
	.ps-slidewrapper > nav{
		height: 150px;
	}
	.ps-slides{
		bottom: 150px;
	}
}
@media screen and (max-width: 960px) {

	.js .ps-container .ps-slidewrapper {
		width: 100%;
	}

	.js .ps-slides {
		top: 0;
	}

	.js .ps-slidewrapper > nav {
	    bottom: 0;
	    top: auto;
	    width: 50%;
	    left: 0;
	    height: 170px;
	}

	.js .ps-contentwrapper {
		top: auto;
		height: 170px;
		bottom: 0;
		right: 0;
		width: 50%;
	}

	.js .ps-content .product-title{
		font-size: 20px;
	}
	.js .ps-content {
		padding: 15px 30px;
	}
	.js .ps-content .price{
		margin-bottom: 0;
		font-size: 26px;
	}
	.js .ps-content .description,
	.js .ps-content .product_meta{
		display: none;
	}
}
@media screen and (max-width: 540px) {
	.js .ps-slidewrapper > nav{
		position: static;
	}
	.ps-slidewrapper > nav > a {
	    border: 1px solid #ededed;
	    height: 50px;
	    left: 0;
	    position: absolute;
	    bottom: 130px;
	    width: 50px;
	    z-index: 1000;
	}
	.ps-slidewrapper > nav > a:last-child{
		left: auto;
		right: 0;
	}
	.js .ps-contentwrapper{
		width: 100%;
		height: 130px;
	}
	.js .ps-content{
		padding: 15px;
	}
	.js .ps-content .product-title{
		font-size: 16px;
	}
	.js .ps-content .price{
		font-size: 18px;
	}
	.js .ps-content .add_to_cart_button {
	    height: 40px;
	    line-height: 40px;
	    padding: 0 20px;
	    font-size: 12px;
	}
	.js .ps-slides{
		bottom: 130px;
	}
	.no-touch .ps-slidewrapper > nav > a {
	    box-shadow: 0 0 0 9999px rgba(33, 33, 33, 0.2) inset;
	    -moz-box-shadow: inset 0 0 0 9999px rgba(33,33,33,0.2);
		-ms-box-shadow: inset 0 0 0 9999px rgba(33,33,33,0.2);
		-webkit-box-shadow: inset 0 0 0 9999px rgba(33,33,33,0.2);
	}
}











