@font-face {
	font-family: 'icomoon';
	src:url('../../fonts/icomoon.eot?vpq5d9');
	src:url('../../fonts/icomoon.eot?#iefixvpq5d9') format('embedded-opentype'),
		url('../../fonts/icomoon.woff?vpq5d9') format('woff'),
		url('../../fonts/icomoon.ttf?vpq5d9') format('truetype'),
		url('../../fonts/icomoon.svg?vpq5d9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icomoon{
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-share:before {
	content: "\e605";
}

.icon-add:before {
	content: "\e600";
}

.icon-arrow-top:before {
	content: "\e601";
}

.icon-arrow-bottom:before {
	content: "\e602";
}

.icon-arrow-left:before {
	content: "\e603";
}

.icon-arrow-right:before {
	content: "\e604";
}

.icon-download:before {
	content: "\e606";
}

.icon-upload:before {
	content: "\e607";
}

.icon-triangle-bottom:before {
	content: "\e608";
}

.icon-triangle-top:before {
	content: "\e609";
}

.icon-Bag-1:before {
	content: "\e60b";
}

.icon-button-add:before {
	content: "\e60d";
}

.icon-button-check:before {
	content: "\e60e";
}

.icon-button-delete:before {
	content: "\e60f";
}

.icon-button-play:before {
	content: "\e610";
}

.icon-button-remove:before {
	content: "\e611";
}

.icon-Cart:before {
	content: "\e612";
}

.icon-Chat:before {
	content: "\e613";
}

.icon-Chat-1:before {
	content: "\e614";
}

.icon-Check:before {
	content: "\e615";
}

.icon-Database:before {
	content: "\e616";
}

.icon-Delete:before {
	content: "\e617";
}

.icon-Folder:before {
	content: "\e618";
}

.icon-Game-8:before {
	content: "\e619";
}

.icon-Home:before {
	content: "\e61a";
}

.icon-Image:before {
	content: "\e61b";
}

.icon-Ipad:before {
	content: "\e61c";
}

.icon-Laptop:before {
	content: "\e61d";
}

.icon-Location:before {
	content: "\e61e";
}

.icon-Mail:before {
	content: "\e61f";
}

.icon-Monitor:before {
	content: "\e620";
}

.icon-Music:before {
	content: "\e621";
}

.icon-Open-Folder:before {
	content: "\e622";
}

.icon-Pencil:before {
	content: "\e623";
}

.icon-People:before {
	content: "\e624";
}

.icon-Phone:before {
	content: "\e625";
}

.icon-Print:before {
	content: "\e626";
}

.icon-Remove:before {
	content: "\e627";
}

.icon-Rule:before {
	content: "\e628";
}

.icon-Save:before {
	content: "\e629";
}

.icon-Search:before {
	content: "\e62a";
}

.icon-Tag:before {
	content: "\e62b";
}

.icon-Trash:before {
	content: "\e62c";
}

.icon-Trolley:before {
	content: "\e62d";
}

.icon-Truck:before {
	content: "\e62e";
}

.icon-Video-Camera:before {
	content: "\e62f";
}

.icon-View:before {
	content: "\e630";
}