/**
 * @version    1.3
 * @package    Ninja
 * @author     WooRockets Team <support@woorockets.com>
 * @copyright  Copyright (C) 2014 WooRockets.com. All Rights Reserved.
 * @license    GNU/GPL v2 or later http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Websites: http://www.woorockets.com
 */

/*--------------------------------------------------------------
	CSS OVERVIEW
----------------------------------------------------------------
		1. General Layout
		2. Shopping Cart
		3. Archive Product
		4. Product list style
		5. Single product
		6. Sidebar and Widgets
		7. Cart pages
		8. Product slider
		
--------------------------------------------------------------*/

/*  [ General Layout ]
- - - - - - - - - - - - - - - - - - - - */
.woocommerce #page,
.shop-main{
	overflow: hidden;
}
.woocommerce .site-content{
	position: relative;
}
.shop-container{
	transition: margin 0.7s ease-in-out 0s;
	-ms-transition: margin 0.7s ease-in-out 0s;
	-moz-transition: margin 0.7s ease-in-out 0s;
	-webkit-transition: margin 0.7s ease-in-out 0s;
}
.shop-main .page-title,
.woocommerce-result-count {
	display: none !important;
}
.shop-main .shop-slider {
	margin-bottom: 20px;
}
.wcm-left-content.margin{
	margin-right: 380px;
}
.wcm-content-right.margin{
	margin-left: 380px;
}
.wcm-left-content .shop-sidebar {
	right: 0;
	left: auto;
	transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-webkit-transform: translateX(100%);
}
.shop-main{
	padding-bottom: 0px;
}
.woocommerce .woocommerce-message{
	display: none;
}
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button{
	background: #363636;
    color: #fff;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
    cursor: pointer;
    border: none;
    border-radius: 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    text-shadow:none;
}
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover{
	background: #e55a54;
	color: #FFF;
}
.pp_woocommerce{
	overflow: visible !important;
}
.woocommerce form.login label[for="rememberme"]{
	display: block;
	margin-top: 10px;
}
.woocommerce .order-info mark{
	background: none;
	font-weight: bold;
}

/*  [ Shopping Cart ]
- - - - - - - - - - - - - - - - - - - - */
.shop-cart{
	min-height: 90px;
}
.shop-cart .shop-item {
	text-align: right;
	padding: 19px 25px;
}
.shop-cart .shop-item .total,
.shop-cart .shop-item .buttons,
.shop-cart .shop-item ul{
	display: inline-block;
	vertical-align: middle;
	margin:0 0 0 30px;
}
.shop-cart .shop-item ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.shop-cart .shop-item li{
	float: left;
	position: relative;
	margin-right: 20px !important;
	padding: 0 !important;
	color: #ccc;
	padding-top: 20px !important;
	margin-top: -20px !important;
}
.shop-cart .shop-item li:last-child{
	margin-right: 0;
}
.shop-cart .shop-item .cart-item-thumbnail{
	width: 50px;
	height: 50px;
	position: relative;
}
.shop-cart .shop-item .cart-item-thumbnail img{
	border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.shop-cart .shop-item .item-number{
	background: #ff6074;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-family: "Arial";
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    position: absolute;
    right: -11px;
    text-align: center;
    top: -11px;
    width: 22px;
}
.shop-cart .shop-item .total{
	font-weight: bold;
	font-family: "Arial";
}
.shop-cart .shop-item .total strong{
	color: #a3a3a3;
	font-size: 16px;
}
.shop-cart .shop-item .total .amount{
	font-size: 26px;
	color: #ffffff;
}
.shop-cart .shop-item .buttons a{
	display: inline-block;
	background: #2a2a2a;
	height: 48px;
	line-height: 48px;
	color: #FFF;
	font-size: 16px;
	padding: 0 30px;
	margin: 0 5px;
	letter-spacing: normal;
	text-transform: none;
	font-weight: 400;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.shop-cart .shop-item .buttons .checkout{
	background: #00b1ef;
}
.shop-cart .shop-item .buttons a:hover{
	background: #e55a54;
}

.shop-cart .shop-item .cart-item-container{
	position: absolute;
	bottom: calc(100% + 60px);
	width: 350px;
	opacity: 0;
	visibility: hidden;
	background: #FFF;
	padding: 12px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-border-radius: 3px;
	left: -150px;
	transition: all 300ms ease-in-out 0s;
	-moz-transition: all 300ms ease-in-out 0s;
	-ms-transition: all 300ms ease-in-out 0s;
	-webkit-transition: all 300ms ease-in-out 0s;
}
.shop-cart .shop-item ul li:hover .cart-item-container{
	opacity: 1;
	visibility: visible;
	bottom: 100%;
}
.shop-cart .shop-item .cart-item-container:after{
	display: block;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #FFF;
	position: absolute;
	left: 50%;
	margin-left: -10px;
	top: 100%;
	content: "";
}
.shop-cart .shop-item .cart-item-container .thumb{
	max-width: 110px;
	float: left;
	margin-right: 15px;
}
.shop-cart .shop-item img{
	width: auto !important;
	float: none !important;
	margin: 0 !important;
}
.shop-cart .shop-item .cart-item-container .cart-item-info{
	float: left;
	text-align: left;
	max-width: 200px;
}
.shop-cart .shop-item .cart-header-title{
	font-size: 16px;
	margin: 0;
	line-height: 24px;
}
.shop-cart .shop-item .cart-header-title a{
	color: #363636;
	font-weight: 400;
}
.shop-cart .shop-item .cart-header-title a:hover{
	color: #e55a54;
}
.shop-cart .shop-item .woocommerce-product-rating{
	position: relative;
	height: 11px;
	margin: 5px 0 15px 0;
}
.shop-cart .shop-item .woocommerce-product-rating .star-rating {
    top: 0;
    left: 0;
}
.shop-cart a.remove{
    font-size: 0;
    position: absolute;
    right:5px;
    bottom: 5px;
    height: 16px;
    width: 16px;
    background-image: url(../img/icons/close.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}
.woocommerce .shop-cart a.remove:hover,
.shop-cart a.remove:hover{
	background-image: url(../img/icons/close.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
	transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
}
.shop-cart .shop-item .quantity{
	font-size: 20px;
	font-weight: bold;
	font-family: "Arial";
	color: #e55a54;
	display: block;
}

/*  [ Archive Product ]
- - - - - - - - - - - - - - - - - - - - */
.shop-header{
	margin-bottom: 30px;
	overflow: hidden;
	-webkit-box-shadow: 0 8px 6px -6px #CCC;
    -moz-box-shadow: 0 8px 6px -6px #CCC;
    box-shadow: 0 8px 6px -6px #CCC;
    background: #FFF;
    padding: 0 20px;
    transition: all 0.7s ease-in-out 0s;
    -moz-transition: all 0.7s ease-in-out 0s;
    -ms-transition: all 0.7s ease-in-out 0s;
    -webkit-transition: all 0.7s ease-in-out 0s;
    -o-transition: all 0.7s ease-in-out 0s;
}
.shop-container.margin .shop-header {
	margin-left: -380px;
}
.wcm-orderby {
	float: left;
}
.wcm-left-content .wcm-orderby{
	float: right;
}
.wcm-full-width .wcm-orderby{
	display: none;
}
.shop-header .sidebar-header{
	float: left;
	background: none;
	padding: 0;
	color: #3d3d3d;
}
.filter-title{
	cursor: pointer;
}
.shop-header .filter-product{
	float: right;
}
.wcm-left-content .shop-header .filter-product{
	float: left;
}
.shop-header .filter-product ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.wcm-left-content .shop-header .filter-product ul li:first-child{
	margin-left: 0;
}
.shop-header .filter-product ul li{
	display: inline-block;
	line-height: 50px;
	margin-left: 30px;
}
.shop-header .filter-product ul li a{
	color: #717171;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
}
.shop-header .filter-product ul li a:hover{
	color: #e55a54;
}
.site-main-cat-has-child{
	position: relative;
	height: 100%;
}
.cat-has-child-wrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.cat-has-child-wrap .cat-parent,
.cat-has-child-wrap .cat-children{
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
	left: 0;
}
.cat-has-child-wrap .cat-parent{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.cat-has-child-wrap .cat-parent:before{
	display: block;
	content: "";
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.cat-has-child-wrap .cat-children{
	left: 50%;
}
.cat-has-child-wrap img{
	width: 100%;
}
.cat-parent-thumb{
	position: relative;
}
.cat-parent-thumb:before{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	content: "";
	display: block;
}
.cat-parent .container{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	text-align: center;
	transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
}
.cat-parent-name{
	color: #FFF;
	font-size: 40px;
	font-weight: 800;
	text-transform: uppercase;
}
.cat-children ul{
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	height: 100%;
	overflow-y: auto;
}
.cat-children ul li{
	background: #FFF;
	height: 33.3333%;
	min-height: 258px;
	position: relative;
}
.cat-children .subcat_thumbnail,
.cat-children .subcat-info{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 50%;
}
.cat-children .subcat_thumbnail{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #000;
}
.cat-children .subcat_thumbnail span{
	display: none;
}
.cat-children .subcat-info{
	left: 50%;
}
.cat-children ul li.even .subcat_thumbnail{
	left: 50%;
}
.cat-children .subcat_thumbnail:before,
.cat-children .subcat_thumbnail:after {
	bottom: 30px;
	content: "";
	left: 30px;
	opacity: 0;
	position: absolute;
	right: 30px;
	top: 30px;
	pointer-events: none;
	-webkit-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
	-moz-transition:    opacity 0.35s ease 0s, transform 0.35s ease 0s;
	transition:         opacity 0.35s ease 0s, transform 0.35s ease 0s;
}
.cat-children .subcat_thumbnail:before {
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	-webkit-transform: scale(0, 1);
	-moz-transform:    scale(0, 1);
	-ms-transform:     scale(0, 1);
	-o-transform:      scale(0, 1);
	transform:         scale(0, 1);
}
.cat-children .subcat_thumbnail:after {
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	-webkit-transform: scale(1, 0);
	-moz-transform:    scale(1, 0);
	-ms-transform:     scale(1, 0);
	-o-transform:      scale(1, 0);
	transform:         scale(1, 0);
}
.cat-children .subcat_thumbnail:hover:before,
.cat-children .subcat_thumbnail:hover:after {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform:    scale(1);
	-ms-transform:     scale(1);
	-o-transform:      scale(1);
	transform:         scale(1);
}
.cat-children ul li.even .subcat-info{
	left: 0;
}
.cat-children .subcat-info{
	padding: 15px 30px 20px;
	text-align: center;
	top: 50%;
	height: auto;
	transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
}
.cat-children .subcat-info h3{
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
}
.cat-children .subcat-info h3 a{
	color: #000000;
}
.cat-children .subcat-info h3 a:hover{
	color: #e55a54;
}
.cat-children .subcat-info .desc{
	margin-bottom: 30px;
}
@media screen and ( -webkit-min-device-pixel-ratio: 0 ) {
	.orderby,
	.shipping-calculator-form > p:first-child select {
		padding-right: 18px
	}
}
.shipping-calculator-form > p:first-child,
.woocommerce-ordering {
	position:relative;
}
.shipping-calculator-form > p:first-child:after,
.woocommerce-ordering:after,
.woocommerce #content div.product form.cart .variations .value:after,
.woocommerce div.product form.cart .variations .value:after,
.woocommerce-page #content div.product form.cart .variations .value:after,
.woocommerce-page div.product form.cart .variations .value:after  {
	content: "\f347";
	font: 10px dashicons;
	color: #fff;
	right: 13px;
	top: 13px;
	position: absolute;
	pointer-events: none;
}
.shipping-calculator-form > p:first-child:before,
.woocommerce-ordering:before,
.woocommerce #content div.product form.cart .variations .value:before,
.woocommerce div.product form.cart .variations .value:before,
.woocommerce-page #content div.product form.cart .variations .value:before,
.woocommerce-page div.product form.cart .variations .value:before {
	background: #a3a3a3;
	content: "";
	display: block;
	height: 38px;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 38px;
}
div.woocommerce,
div.woocommerce-page {
	overflow: hidden;
}
.woocommerce .products,
.products{
  	width: 100%;
  	padding: 0 10px;
  	margin-top: 30px;
  	position: relative;
}
.woocommerce .products .product{
  	float: left;
  	padding: 0 10px;
  	margin: 0 0 20px;
  	width: 25%;
  	overflow: hidden;
}
.woocommerce .products .product.featured:first-child{
	width: 50%;
}
.woocommerce.columns-2 .products .product{
	width: 50%;
}
.woocommerce.columns-3 .products .product{
	width: 33.3333%;
}
.woocommerce.columns-3 .products .product.featured:first-child{
	width: 66.66%;
}
.woocommerce.columns-5 .products .product{
	width: 20%;
}
.woocommerce.columns-5 .products .product.featured:first-child{
	width: 40%;
}
.woocommerce.columns-6 .products .product{
	width: 16.6666%;
}
.woocommerce.columns-6 .products .product.featured:first-child{
	width: 33.3332%;
}
.product-for-cat.woocommerce .products .product,
.product-for-cat.woocommerce .products .product.featured:first-child{
	float: none;
	margin: 0;
	width: auto;
}
.woocommerce .products .product-inner,
.products .product-inner{
	position: relative;
	background: #FFF;
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
}
.woocommerce .products .product-inner:hover,
.products .product-inner:hover{
	margin-top: -50px;
	padding-bottom: 50px;
}
.woocommerce .products .product-image,
.products .product-image{
	background: #FFF;
}
.product-for-cat .products .product-image{
	height: auto !important;
}
.woocommerce .products .product-image img,
.products .product-image img{
	width: 100%;
}
.woocommerce .products .product-info,
.products .product-info{
	background: #FFF;
	padding: 15px 25px;
	color: #363636;
	position: relative;
}
.woocommerce .products .product-title,
.products .product-title{
	font-size: 16px;
	margin: 0;
	line-height: normal;
}
.woocommerce .products .product-title a,
.products .product-title a{
  	color: #363636;
}
.woocommerce .products .product-title a:hover,
.products .product-title a:hover{
  	color: #e55a54;
}
.woocommerce .products .price,
.products .price{
	margin: 0;
}
.woocommerce div.product p.price, 
.woocommerce div.product span.price,
div.product p.price,
div.product span.price{
	color: #363636;
	font-family: "Arial";	
	font-weight: bold;
	font-size: 22px;
}
.woocommerce div.product p.price del, 
.woocommerce div.product span.price del,
div.product p.price del,
div.product span.price del{
  	display: inline;
  	font-size: 14px;
  	opacity: 1;
  	color: #9e9e9e;
}
.woocommerce .products .price ins,
.products .price ins{
  	background: none;
}
.woocommerce .star-rating,
.star-rating{
	width: 65px;
	font-size: 0;
	height: 12px;
	float: none;
	background:url(../img/icons/star-grey.png) left center repeat-x;
	position: absolute;
	bottom: 25px;
	right: 20px;
}
.woocommerce .star-rating::before,
.star-rating::before{
	display: none;
}
.woocommerce .star-rating > span,
.star-rating > span{
	display: block;
	height: 12px;
	background:url(../img/icons/star-yellow.png) left center repeat-x;
}
.woocommerce .products .cd-hide-info,
.products .cd-hide-info{
  	display: none;
}
.woocommerce .product-action,
.product-action{
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	transform:scale(1, 0);
	-moz-transform:scale(1, 0);
	-ms-transform:scale(1, 0);
	-webkit-transform:scale(1, 0);
	position: absolute;
	right: 0;
	left: 0;
	background:#e55a54;
	padding: 20px;
}
.woocommerce .product .product-inner:hover .product-action,
.product .product-inner:hover .product-action{
	transform:scale(1);
	-ms-transform:scale(1);
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
}
.woocommerce .product-action .star-rating,
.product-action .star-rating{
  	margin: 0 0 10px;
}
.woocommerce .product-action a,
.product-action a{
  	color: #fff;
  	position: relative;
}
.woocommerce .product-action a:hover,
.product-action a:hover{
  	background: none;
  	color: #FFF;
}
.woocommerce .product-action .add_to_cart_button,
.product-action .add_to_cart_button{
  	float: left;
  	padding: 0 0 0 30px;
  	background: none;
  	border-radius: 0;
  	font-weight: 400;
  	line-height: normal;
  	letter-spacing: normal;
  	height: auto;
  	text-transform: none;
  	font-size: 14px;
  	position: relative;
  	margin-top: 5px;
}
.woocommerce #respond input#submit.added::after, 
.woocommerce a.button.added::after, .woocommerce button.button.added::after, 
.woocommerce input.button.added::after{
	vertical-align: none;
}
.woocommerce .product-action a i,
.woocommerce .cd-item-action a i,
.product-action a i,
.cd-item-action a i{
  font-size: 24px;
  margin: 0 !important;
}
.woocommerce .product-action .add_to_cart_button i,
.product-action .add_to_cart_button i{
	position: absolute;
	top: -5px;
	left: 0;
}
.woocommerce .product-action .add_to_cart_button strong,
.product-action .add_to_cart_button strong{
	margin-left: -50px;
	opacity: 0;
	visibility: hidden;
	font-weight: normal;
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
}
.woocommerce .product-action .add_to_cart_button:hover strong,
.product-action .add_to_cart_button:hover strong{
	margin-left: 0;
	opacity: 1;
	visibility: visible;
}
.woocommerce .product-action .added_to_cart,
.product-action .added_to_cart{
	padding: 0;
	margin-left: 5px;
	float: left;
}
.woocommerce .product-action .add_to_cart_button.added strong,
.product-action .add_to_cart_button.added strong{
	display: none;
}
.woocommerce #respond input#submit.added::after, 
.woocommerce a.button.added::after, 
.woocommerce button.button.added::after, 
.woocommerce input.button.added::after{
	display: none;
}
.woocommerce #respond input#submit.loading::after, 
.woocommerce a.button.loading::after, 
.woocommerce button.button.loading::after, 
.woocommerce input.button.loading::after{
	top: 0;
}
.woocommerce .product-action .cd-quickview-trigger,
.woocommerce .product-action .yith-wcwl-add-to-wishlist,
.product-action .cd-quickview-trigger,
.product-action .yith-wcwl-add-to-wishlist,
.woocommerce .cd-item-info .cd-item-action .yith-wcwl-add-to-wishlist,
.cd-item-info .cd-item-action .yith-wcwl-add-to-wishlist{
	float: right;
	margin: 0 0 0 10px;
}
.woocommerce .product-action a span,
.product-action a span,
.cd-item-info .cd-item-action .yith-wcwl-add-to-wishlist a span{
	display: inline-block;
	position: absolute;
	bottom: 90%;
	left: 50%;
	margin-left: -40px;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-webkit-border-radius: 2px;
	color: #FFF;
	opacity: 0;
	visibility: hidden;
	font-size: 12px;
	font-family: "Arial";
	width: 75px;
	height: 27px;
	text-align: center;
	line-height: 27px;
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
}
.woocommerce .product-action .yith-wcwl-add-to-wishlist a span,
.product-action .yith-wcwl-add-to-wishlist a span,
.cd-item-info .cd-item-action .yith-wcwl-add-to-wishlist a span{
	width: 100px;
	margin-left: -50px;
}
.woocommerce .product-action a span:after,
.product-action a span:after,
.cd-item-action a span:after,
.cd-item-info .cd-item-action .yith-wcwl-add-to-wishlist a span:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(0, 0, 0, 0.8);
    bottom: -5px;
    margin-left: -5px;
    content: "";
    left: 50%;
    position: absolute;
}
.woocommerce .product-action a:hover span,
.product-action a:hover span,
.cd-item-action a:hover span,
.cd-item-info .cd-item-action .yith-wcwl-add-to-wishlist a:hover span{
	opacity: 1;
	bottom: calc(100% + 10px);
	visibility: visible;
}
.woocommerce .products .owl-pagination{
  	margin: 30px 0 0;
}
.woocommerce .add-content .cd-slider{
	float: none;
}
.woocommerce .cd-slider-wrapper img{
	width: 100%;
	max-width: 100%;
}
.woocommerce .cd-item-info{
	padding: 2em 3em 2em 0;
}
.woocommerce .cd-item-info .product-title{
	font-size: 16px;
}
.woocommerce .cd-item-info .product-title a{
	color: #363636;
}
.woocommerce .cd-item-info .product-title a:hover{
	color: #e55a54;
}
.woocommerce .cd-item-info .price{
	font-size: 22px;
	font-weight: 700;
	font-family: "Arial";
}
.woocommerce .cd-item-info .price ins{
	background: none;
}
.woocommerce .cd-item-info .price del{
	font-size: 18px;
}
.woocommerce .cd-item-info .star-rating,
.cd-item-info .star-rating{
	margin-bottom: 20px;
	position: relative;
	bottom: auto;
	right: auto;
}
.woocommerce .cd-item-info .add_to_cart_button{
	font-weight: 400;
	letter-spacing: normal;
	text-transform: none;
	font-size: 14px;
}
.woocommerce .cd-item-info .add_to_cart_button i{
	margin-right: 5px;
	font-size: 16px;
}

.woocommerce .cd-item-info .cd-item-action .yith-wcwl-add-to-wishlist,
.cd-item-info .cd-item-action .yith-wcwl-add-to-wishlist{
	margin: 10px 0 0;
}
.woocommerce .cd-item-info .cd-item-action .yith-wcwl-add-to-wishlist a,
.cd-item-info .cd-item-action .yith-wcwl-add-to-wishlist a{
	position: relative;
}

.woocommerce nav.woocommerce-pagination{
	padding-bottom: 20px;
}
.woocommerce nav.woocommerce-pagination ul{
	margin: 0;
	text-align: center;
	border:none;
}
.woocommerce nav.woocommerce-pagination ul.page-numbers li{
	display: none;
	border: none;
	float: none;
}
.woocommerce nav.woocommerce-pagination ul.page-numbers li.wr-pagination-reamore {
    display: inline-block;
}
.woocommerce nav.woocommerce-pagination ul.page-numbers li.wr-pagination-reamore a {
	background: rgba(54, 54, 54, 1) none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    text-transform: uppercase;
}
.woocommerce .wishlist_table td.product-add-to-cart a {
	display: inline-block !important;
}

/*  [ Single product ]
- - - - - - - - - - - - - - - - - - - - */
.single-product .woocommerce-message{
	display: block;
}
.shop-single-content{
	padding: 0 20px;
}
.woocommerce #content div.product div.images, 
.woocommerce div.product div.images, 
.woocommerce-page #content div.product div.images, 
.woocommerce-page div.product div.images{
	position: relative;
	overflow: hidden;
	width: calc(50% - 15px);
	background: #FFF;
}
.woocommerce #content div.product div.summary, 
.woocommerce div.product div.summary, 
.woocommerce-page #content div.product div.summary, 
.woocommerce-page div.product div.summary{
	width: calc(50% - 15px);
	position: relative;
	padding-right: 220px;
}
.woocommerce #content div.product div.images img,
.woocommerce div.product div.images img,
.woocommerce-page #content div.product div.images img,
.woocommerce-page div.product div.images img {
	box-shadow: none;
	border: none;
}
#p-preview .owl-item .item {
	position: relative;
}
#p-preview .owl-item a i,
#p-preview .owl-item a:before {
	-webkit-transition: all .35s ease-in-out 0s;
	-moz-transition:    all .35s ease-in-out 0s;
	transition:         all .35s ease-in-out 0s;
}
#p-preview .owl-item a:before {
	background: #000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	content: "";
	opacity: 0;
}
#p-preview .owl-item:hover a:before {
	opacity: 0.5;
}
#p-preview .owl-item a i {
	border: 1px solid #fff;
	color: #fff;
	height: 40px;
	left: 50%;
	line-height: 38px;
	margin-left: -20px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 40px;
	opacity: 0;
	text-align: center;
	font-size: 17px;
	-webkit-transform: scale(1.6);
	-moz-transform:    scale(1.6);
	-ms-transform:     scale(1.6);
	-o-transform:      scale(1.6);
	transform:         scale(1.6);
}
#p-preview .owl-item:hover a i {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform:    scale(1);
	-ms-transform:     scale(1);
	-o-transform:      scale(1);
	transform:         scale(1);
}
#p-thumb{
	padding: 20px 0;
}
#p-thumb .owl-wrapper-outer .owl-wrapper{
	margin: 0 auto;
}
#p-thumb .owl-wrapper-outer .owl-item{
	display: inline-block;
	float: none;
}
#p-thumb.owl-theme .item {
	margin-right: 20px;
}
#p-thumb.owl-theme .item img {
	opacity: .6;
}
#p-thumb.owl-theme .synced .item img,
#p-thumb.owl-theme .item img:hover {
	opacity: 1;
	cursor: crosshair;
}
#p-thumb.owl-theme .owl-wrapper-outer {
	z-index: 1;
	position: relative;
}
#p-thumb.owl-theme .owl-controls .owl-buttons > div {
	position: absolute;
	height: 30px;
	background: #363636;
	color: #fff;
	width: 30px;
	opacity: 0;
	z-index: 2;
	top: 50%;
	margin-top: -20px;
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition:    all .3s ease-in-out 0s;
	transition:         all .3s ease-in-out 0s;
	text-align: center;
	font-size: 12px;
	line-height: 30px;
}
#p-thumb.owl-theme:hover .owl-controls .owl-buttons > div {
	opacity: 1;
}
#p-thumb.owl-theme .owl-controls .owl-buttons > div i{
	font-size: 12px;
	display: inline;
	height: auto;
	width: auto;
	vertical-align: middle;
}
#p-thumb.owl-theme .owl-controls .owl-buttons > div.owl-next {
	right: -12px;
}
#p-thumb.owl-theme .owl-controls .owl-buttons > div.owl-prev {
	left: -30px;
}
#p-thumb.owl-theme:hover .owl-controls .owl-buttons > div.owl-next {
	right: 0;
}
#p-thumb.owl-theme:hover .owl-controls .owl-buttons > div.owl-prev {
	left: 0;
}
#p-thumb.owl-theme .owl-controls .owl-buttons > div:hover {
	background: #e55a54;
}
.woocommerce .shop-single-content .entry-title{
	color: #363636;
	font-size: 26px;
	text-transform: none;
	font-weight: 400;
}
.woocommerce .shop-single-content .entry-title:after{
	display: none;
}
.woocommerce div.product .shop-single-content p.price{
	margin-bottom: 30px;
}
.woocommerce div.product p.price ins, 
.woocommerce div.product span.price ins{
	font-size: 22px;
	font-weight: 700;
	line-height: normal;
}
.woocommerce div.product .shop-single-content p.price,
.woocommerce div.product .shop-single-content span.price{
	font-weight: 400;
	font-size: 36px;
	line-height: normal;
}
.summary .product_meta {
	margin: 20px 0;
	border-top: 1px solid #cccccc;
	padding-top: 20px;
}
.summary .product_meta > span {
	display: block;
	color: #363636;
}
.summary .product_meta span.label{
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
	width: 120px;
}
.summary .product_meta span.label i {
    font-size: 17px;
    margin-right: 10px;
    vertical-align: middle;
}
.summary .product_meta a{
	color: #363636;
}
.summary .product_meta a:hover{
	color: #e55a54;
}
.woocommerce #content div.product form.cart,
.woocommerce div.product form.cart,
.woocommerce-page #content div.product form.cart,
.woocommerce-page div.product form.cart {
	margin: 30px 0;
}
.summary  .size-guide{
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
	color: #363636;
	position: relative;
	padding-left: 30px;
}
.summary  .size-guide i{
	position: absolute;
	top: 1px;
	left: 0;
	font-size: 22px;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.summary  .size-guide:hover{
	color: #e55a54;
}
.summary .yith-wcwl-add-to-wishlist {
	margin: 0;
	font-weight: 500;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.summary .yith-wcwl-add-to-wishlist .feedback{
	display: none;
}
.summary .yith-wcwl-add-to-wishlist .add_to_wishlist,
.summary .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse,
.summary .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse{
	display: inline-block;
	position: relative;
	vertical-align: middle;
	color: #363636;
}
.summary .yith-wcwl-add-to-wishlist .add_to_wishlist {
	padding-left: 30px;
}
.summary .yith-wcwl-add-to-wishlist .add_to_wishlist:hover{
	color: #e55a54;
}
.summary .yith-wcwl-add-to-wishlist .add_to_wishlist:before {
	content: "\e619";
	font-family: 'icomoon';
	position: absolute;
	left: 0;
	top: -11px;
	font-size: 24px;
}
.summary .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse,
.summary .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse,
.single-share .social {
	margin: 0;
}
.summary .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse,
.summary .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse {
	width: auto;
	text-align: center;
}
.summary .clear{
	display: none;
}
.summary .single-share{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	padding-left: 30px;
}
.summary .single-share .single-icon i{
	font-size: 22px;
	position: absolute;
	top: 2px;
	left: 0;
}
.summary .single-share ul{
	position: absolute;
	bottom: 90%;
	left: 0;
	width: 300px;
	text-align: left;
	opacity: 0;
	visibility: hidden;
	transition: all 300ms ease-in-out 0s;
	-ms-transition: all 300ms ease-in-out 0s;
	-webkit-transition: all 300ms ease-in-out 0s;
	-moz-transition: all 300ms ease-in-out 0s;
}
.summary .single-share:hover ul{
	opacity: 1;
	visibility: visible;
	bottom: 100%;
}
.woocommerce #content div.product form.cart .variations,
.woocommerce div.product form.cart .variations,
.woocommerce-page #content div.product form.cart .variations,
.woocommerce-page div.product form.cart .variations {
	padding: 10px 20px;
	margin: 0 15px 15px 0;
	width: auto;
	display: inline-block;
	vertical-align: top;
	border:2px solid #767676;
}
.woocommerce #content div.product form.cart .variations td,
.woocommerce div.product form.cart .variations td,
.woocommerce-page #content div.product form.cart .variations td,
.woocommerce-page div.product form.cart .variations td {
	border: 0;
}
.woocommerce #content div.product form.cart .variations select,
.woocommerce div.product form.cart .variations select,
.woocommerce-page #content div.product form.cart .variations select,
.woocommerce-page div.product form.cart .variations select {
	height: 30px;
	border: 1px solid #bfbfbf;
	background: none;
	font-size: 13px;
	text-transform: none;
	padding: 0 5px;
	margin-right: 15px;
}
.woocommerce #content div.product form.cart .variations .value,
.woocommerce div.product form.cart .variations .value,
.woocommerce-page #content div.product form.cart .variations .value,
.woocommerce-page div.product form.cart .variations .value {
	position: relative;
}
.woocommerce #content div.product form.cart .variations .value:before,
.woocommerce div.product form.cart .variations .value:before,
.woocommerce-page #content div.product form.cart .variations .value:before,
.woocommerce-page div.product form.cart .variations .value:before {
	width: 24px;
	height: 30px;
	top: 6px;
	right: 6px;
}
.woocommerce #content div.product form.cart .variations .value:after,
.woocommerce div.product form.cart .variations .value:after,
.woocommerce-page #content div.product form.cart .variations .value:after,
.woocommerce-page div.product form.cart .variations .value:after {
	font-size: 8px;
	top: 16px;
	right: 14px;
}
.woocommerce #content div.product form.cart .variations .value .reset_variations,
.woocommerce div.product form.cart .variations .value .reset_variations,
.woocommerce-page #content div.product form.cart .variations .value .reset_variations,
.woocommerce-page div.product form.cart .variations .value .reset_variations {
	position: absolute;
	left: 0;
	bottom: -32px;
	font-size: 12px;
	color: #363636;
	display: none;
}
.woocommerce .single_variation_wrap,
.woocommerce-page .single_variation_wrap{
	display: inline-block;
	vertical-align: top;
	position: relative;
	overflow: visible !important;
}
.woocommerce .single_variation_wrap .single_variation,
.woocommerce-page .single_variation_wrap .single_variation{
	position: absolute;
	bottom: -20px;
	left: 0;
}
.woocommerce div.product .shop-single-content .single_variation_wrap .price{
	font-size: 20px;
}
.woocommerce #content div.product form.cart div.quantity,
.woocommerce div.product form.cart div.quantity,
.woocommerce-page #content div.product form.cart div.quantity,
.woocommerce-page div.product form.cart div.quantity {
	width: 110px;
	margin: 0 15px 15px 0;
	float: none;
	display: inline-block;
}
.woocommerce #content div.product form.cart div.quantity input,
.woocommerce div.product form.cart div.quantity input,
.woocommerce-page #content div.product form.cart div.quantity input,
.woocommerce-page div.product form.cart div.quantity input{
	width: 100%;
	background: none;
	border: 2px solid #767676;
	padding: 20px 0;
	line-height: normal;
	font-size: 17px;
	font-weight: bold;
	font-family: "Arial";
}
.woocommerce #content div.product form.cart .single_add_to_cart_button,
.woocommerce div.product form.cart .single_add_to_cart_button,
.woocommerce-page #content div.product .single_add_to_cart_button,
.woocommerce-page div.product form.cart .single_add_to_cart_button,
.woocommerce-page div.product form.cart .added_to_cart {
	background: #e55a54;
	border-radius: 0;
	padding: 0 20px;
	height: 64px;
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 2px;
	float: none;
	display: inline-block;
	vertical-align: top;
	margin: 0 0 15px;
}
.woocommerce-page div.product form.cart .added_to_cart {
	line-height: 64px;
	font-weight: 600;
}
.woocommerce #content div.product form.cart .single_add_to_cart_button:hover,
.woocommerce div.product form.cart .single_add_to_cart_button:hover,
.woocommerce-page #content div.product .single_add_to_cart_button:hover,
.woocommerce-page div.product form.cart .single_add_to_cart_button:hover,
.woocommerce-page div.product form.cart .added_to_cart:hover {
	background: #363636;
}
.woocommerce div.product form.cart .single_add_to_cart_button.loading:after {
	top: 10px;
	right: 5px;
}
.woocommerce #content div.product form.cart .single_add_to_cart_button.added, 
.woocommerce div.product form.cart .single_add_to_cart_button.added, 
.woocommerce-page #content div.product .single_add_to_cart_button.added, 
.woocommerce-page div.product form.cart .single_add_to_cart_button.added {
	font-size: 0;
    letter-spacing: 0;
    padding: 0;
}

/*  [ Single product - tab ]
- - - - - - - - - - - - - - - - - - - - */
.woocommerce #content div.product .woocommerce-tabs,
.woocommerce div.product .woocommerce-tabs {
	display: inline-block;
	width: 100%;
	margin-top: 30px;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs,
.woocommerce div.product .woocommerce-tabs ul.tabs {
	margin: 0;
	padding: 0;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs:before,
.woocommerce div.product .woocommerce-tabs ul.tabs:before {
	border: 0;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before {
	-webkit-box-shadow: none;
	-moz-box-shadow:    none;
	box-shadow: 		none;
	display: none;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before {
	display: none;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	-webkit-box-shadow: none;
	-moz-box-shadow:    none;
	box-shadow: 		none;
	background: none;
	border-radius: 0;
	margin: 0;
	border: 0;
	padding: 0;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li a,
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	font-size: 12px;
	text-transform: uppercase;
	color: #363636;
	font-weight: 700;
	text-shadow: none;
	padding: 10px 15px;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	background: #363636;
	color: #FFF;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
	color: #FFF;
}
.woocommerce #content div.product .woocommerce-tabs h2,
.woocommerce div.product .woocommerce-tabs h2 {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 10px 0;
}
.woocommerce #content div.product .woocommerce-tabs .entry-content,
.woocommerce div.product .woocommerce-tabs .entry-content {
	border-top: 1px solid #ccc;
	padding-top: 15px;
	margin-bottom: 35px;
}
.woocommerce #content div.product .woocommerce-tabs .entry-content p,
.woocommerce div.product .woocommerce-tabs .entry-content p {
	margin-bottom: 0;
}
.woocommerce table.shop_attributes,
.woocommerce-page table.shop_attributes {
	border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.woocommerce table.shop_attributes th,
.woocommerce-page table.shop_attributes th,
.woocommerce table.shop_attributes td,
.woocommerce-page table.shop_attributes td,
.woocommerce table.shop_attributes,
.woocommerce-page table.shop_attributes {
	border-style: solid;
	background: #fff;
	margin-bottom: 0;
}
.woocommerce table.shop_attributes th,
.woocommerce-page table.shop_attributes th {
	padding: 10px;
}
.woocommerce table.shop_attributes th,
.woocommerce-page table.shop_attributes th,
.woocommerce table.shop_attributes td,
.woocommerce-page table.shop_attributes td {
	padding-left: 20px;
}
.woocommerce #reviews #comments h2,
.woocommerce-page #reviews #comments h2 {
	margin-bottom: 20px;
}
.woocommerce #reviews h3,
.woocommerce-page #reviews h3 {
	margin-bottom: 15px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text{
	border: 1px solid #ccc;
}
.woocommerce #review_form #respond .form-submit input,
.woocommerce-page #review_form #respond .form-submit input {
	height: 50px;
	line-height: 50px;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 0 20px;
	color: #FFF;
	background: #363636;
	letter-spacing: 3px;
	border-radius: 0;
	margin-top: 10px;
}
.woocommerce #review_form #respond .form-submit input:hover,
.woocommerce-page #review_form #respond .form-submit input:hover{
	background: #e55a54;
}
.woocommerce #review_form #respond .comment-form-rating:before{
	display: block;
	content: "";
	clear: both;
}
.woocommerce #review_form #respond p.stars a:after{
	display: none;
}
.woocommerce #review_form #respond p.stars a{
	background: url(../img/icons/star-grey.png) repeat-x left center;
	border:none;
	margin-right: 15px;
}
.woocommerce p.stars a.star-1{
	width: 13px;
}
.woocommerce p.stars a.star-2{
	width: 26px;
}
.woocommerce p.stars a.star-3{
	width: 39px;
}
.woocommerce p.stars a.star-4{
	width: 52px;
}
.woocommerce p.stars a.star-5{
	width: 65px;
}
.woocommerce #review_form #respond p.stars a:hover,
.woocommerce #review_form #respond p.stars a.active{
	background: url(../img/icons/star-yellow.png) repeat-x left center;
}
.woocommerce #review_form #respond .comment-form label{
	position: static;
}
.woocommerce .comment-respond .comment-form .comment-form-author{
	width: 52%;
	padding-right: 4%;
}
.woocommerce .comment-respond .comment-form .comment-form-email{
	width: 48%;
}
.single-product .star-rating{
	position: relative;
	right: auto;
	bottom: auto;
}
/*  [ Single product - Related ]
- - - - - - - - - - - - - - - - - - - - */
.woocommerce .product-related{
	position: absolute;
	top: 0;
	right: 0;
	width: 170px;
	background: #FFF;
	padding: 10px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
}
.woocommerce .product-related h2{
	font-size: 13px;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
}
.woocommerce .product-related .products .product-inner:hover{
	margin-top: 0;
	padding-bottom: 0;
}
.woocommerce .product-related .products .product,
.woocommerce-page .product-related .products .product,
.woocommerce-page .product-related .products .product.featured:first-child {
	width: 100%;
	float: none;
	padding: 0;
}
.woocommerce .product-related .products .product .product-image{
	height: auto !important;
}
.woocommerce .product-related .products .product .product-image img{
	margin: 0 !important;
}
.woocommerce .product-related .products .product .product-info{
	position: static;
	padding: 0 0 10px;
	min-height: 0;
}
.woocommerce .product-related .products .product-inner:hover .product-info{
	padding-bottom: 10px;
}
.woocommerce .product-related .products .product .product-info .product-title{
	text-align: center;
	font-size: 14px;
}
.woocommerce .product-related .products .product .product-info .product-action{
	display: none;
}
.woocommerce .product-related .yit-wcan-container .relate-item .star-rating {
	display: none;
}
.woocommerce #content .product-related .products .product span.price,
.woocommerce #content .product-related .products .product p.price,
.woocommerce #content .product-related .products .product span.price ins,
.woocommerce #content .product-related .products .product p.price ins{
	font-size: 14px;
	display: block;
	text-align: center;
	font-weight: bold;
	font-family: "Arial";
	color: #e55a54;
}

/*  [ Single product - Breadcrumb ]
- - - - - - - - - - - - - - - - - - - - */
.woocommerce .woocommerce-breadcrumb{
	float: right;
	margin: 0;
	line-height: 50px;
	color: #717171;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
}
.woocommerce .woocommerce-breadcrumb a{
    display: inline-block;
    margin: 0 10px;
}
.woocommerce .woocommerce-breadcrumb a:hover{
	color: #e55a54;
}

/*  [ Sidebar ]
- - - - - - - - - - - - - - - - - - - - */
.shop-sidebar{
	transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	transition: all 0.7s ease-in-out 0s;
	-ms-transition: all 0.7s ease-in-out 0s;
	-moz-transition: all 0.7s ease-in-out 0s;
	-webkit-transition: all 0.7s ease-in-out 0s;
	position: fixed;
	top: 0;
	left: 0;
	max-width: 380px;
	width: 380px;
	height: 100%;
	z-index: 300;
	background: #f7f7f7;
	visibility: hidden;
}
.shop-sidebar.show{
	transform: translateX(0%);
	-ms-transform: translateX(0%);
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	overflow-y: auto;
	visibility: visible;
}
.sidebar-header{
	padding: 0 20px;
	height: 50px;
	line-height: 50px;
	background: #363636;
	color: #FFF;
	font-weight: 700;
	font-size: 13px;
	text-transform: uppercase;
	position: relative;
}
.sidebar-header i{
	font-size: 16px;
}
.sidebar-header .filter-title i{
	color: #e55a54;
	margin-right: 5px;
}
.sidebar-header .filter-close{
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 100%;
	background: #2b2b2b;
	text-align: center;
	cursor: pointer;
}

/*  [ Widgets ]
- - - - - - - - - - - - - - - - - - - - */
.shop-sidebar .widget{
	padding: 20px 20px 0;
}
.shop-sidebar .widget-title{
	color: #363636;
	font-size: 13px;
	font-weight: 700;
	position: relative;
	padding-left: 20px;
}
.shop-sidebar .widget-title:before{
	font-family: FontAwesome;
	content:"\f078";
	position: absolute;
	top: 50%;
	font-size: 12px;
	left: 0;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.woocommerce-product-search{
	position: relative;
}
.woocommerce-product-search:before{
	position: absolute;
	font-family: FontAwesome;
	top: 50%;
	right: 15px;
	content:"\f002";
	color: #d4d4d4;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.woocommerce-product-search input[type=search]{
	padding-right: 35px;
	width: 100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	-webkit-appearance:none;
	border-radius: 0;
}
.woocommerce-product-search input[type=submit]{
	display: none;
}
.woocommerce-product-search input[type=search],
.widget .dropdown_product_cat{
	background: #FFF;
	border-radius: 2px;
	border: none;
	font-size: 12px;
	font-family: "Arial";
	height: 50px;
	border: none;
	border-radius: 0;
}
.yith_woocommerce_ajax_search .yith-s{
	background: #FFF;
	font-family: "Arial";
    font-size: 12px;
    border-color: transparent;
    border: none;
    border-radius: 0;
}
.yith_woocommerce_ajax_search .yith-s:focus{
	border-color: #e5e5e5;
}
#yith-searchsubmit{
	display: none;
}
.yith_woocommerce_ajax_search form{
	position: relative;
}
.yith_woocommerce_ajax_search form:before{
	position: absolute;
	font-family: FontAwesome;
	top: 50%;
	right: 15px;
	content:"\f002";
	color: #d4d4d4;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.widget .yith-wcan-list:after{
	display: block;
	content: "";
	clear: both;
}
.woocommerce .widget .yith-wcan-list li{
	float: left;
	width: 33.3333%;
	padding: 0;
	font-size: 14px;
	font-weight: 700;
	color: #363636;
	font-family: "Arial";
	border: none;
}
.woocommerce .widget .yith-wcan-list li:before{
	display: none;
}
.woocommerce .widget .yith-wcan-list li small{
	font-size: 14px;
}
.woocommerce .widget .yith-wcan-list li a{
	display: inline-block;
	padding-left: 35px;
	position: relative;
}
.woocommerce .widget .yith-wcan-list li a:before{
	border: 2px solid #b5b5b5;
	height: 16px;
	width: 16px;
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	content: "";
	margin-top: -8px;
	transition: all 300ms ease-in-out 0s;
	-moz-transition: all 300ms ease-in-out 0s;
	-ms-transition: all 300ms ease-in-out 0s;
	-webkit-transition: all 300ms ease-in-out 0s;
}
.woocommerce .widget .yith-wcan-list li a:hover,
.woocommerce .widget .yith-wcan-list li.chosen a,
.woocommerce .widget .yith-wcan-list li.chosen small{
	color: #e55a54;

}
.woocommerce .widget .yith-wcan-list li.chosen a:before,
.woocommerce .widget .yith-wcan-list li a:hover:before{
	content: "";
	background: #e55a54;
	border-color: transparent;
}

.widget.woocommerce ul li,
.widget.woocommerce ul ul li {
	position: relative;
	padding: 5px 0 5px 12px;
}
.widget.woocommerce ul li:before,
.widget.woocommerce ul li li:before {
	content: "\f345";
	font-family: dashicons;
	font-size: 9px;
	background: none;
	position: absolute;
	left: 0;
	top: 12px;
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition:    all .3s ease-in-out 0s;
	transition:         all .3s ease-in-out 0s;
}
.widget.woocommerce ul li:hover:before,
.widget.woocommerce ul li li:hover:before {
	color: #e55a54;
}
.widget.woocommerce ul li li:after {
	background: none;
}
.widget.woocommerce ul li.cat-parent:before {
	content: "\f347";
}
.widget.woocommerce ul li a {
	text-transform: uppercase;
	font-size: 14px;
}
.widget.woocommerce ul li .children {
	padding-left: 10px;
}
.woocommerce .widget_price_filter form {
	padding: 10px 0;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
	height: 6px;
	background: #FFF;
	border: 0;
	position: relative;
	border-radius: 0;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-slider-range {
	background: #e55a54;
	z-index: 1;
	-webkit-box-shadow: none;
	-moz-box-shadow:    none;
	box-shadow: 		none;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-state-default {
	background: #e55a54;
	cursor: move;
	height: 16px;
	width: 16px;
	color: #555;
	position: absolute;
	z-index: 2;
	top: -5px;
	transition: none;
	-ms-touch-action: none;
	touch-action:     none;
	-webkit-box-shadow: none;
	-moz-box-shadow:    none;
	box-shadow: 		none;
	-webkit-border-radius: 0;
	-moz-border-radius:    0;
	-ms-border-radius:     0;
	border-radius:         0;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-state-default:last-child {
	margin-left: -12px;
}
.woocommerce .widget_price_filter .price_slider_wrapper .price_label {
	display: inline-block;
	text-align: left;
	color: #363636;
	font-size: 16px;
	font-family: "Arial";
	font-weight: 700;
	line-height: 42px;
}
.woocommerce .widget_price_filter .price_slider_wrapper .price_label span {
	color: #e55a54;
	font-size: 26px;
}
.woocommerce .widget_price_filter .price_slider_wrapper .price_slider_amount {
	margin: 20px 0 0;
}
.woocommerce .widget_price_filter .price_slider_wrapper .price_slider_amount .button {
	background: #363636;
	border: 0;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-border-radius: 3px;
	-webkit-box-shadow: none;
	-moz-box-shadow:    none;
	box-shadow: 		none;
	color: #fff;
	cursor: pointer;
	font-size: 13px;
	padding: 0 25px;
	text-shadow: none;
	height: auto;
	margin-bottom: 15px;
	line-height: 42px;
	font-weight: 700;
	text-transform: uppercase;
}
.woocommerce .widget_price_filter .price_slider_wrapper .price_slider_amount .button:hover {
	background: #e55a54;
}
.widget_product_search input#s {
	width: 100%;
}
.widget_product_search input#searchsubmit {
	display: none;
}
.widget.woocommerce ul.product_list_widget li {
	padding: 10px 0;
	overflow: hidden;
}
.widget.woocommerce ul.product_list_widget li:before {
	display: none;
}
.widget.woocommerce ul.product_list_widget li a {
	font-weight: 400;
	line-height: 16px;
}
.widget.woocommerce ul.product_list_widget li img {
	box-shadow: none;
	margin: 3px 10px 0 0;
	width: 80px;
	height: auto;
	float: left;
}
.widget.woocommerce ul.product_list_widget .variation {
	position: absolute;
	left: 75px;
	top: 50px;
	border: 0;
}
.widget.woocommerce ul.product_list_widget .variation dd {
	margin: 0;
	padding: 0;
}
.widget.woocommerce ins {
	background: none;
}
.widget.woocommerce ins .amount {
	color: #e55a54;
	font-size: 22px;
	padding: 2px 6px;
}
.widget.woocommerce del .amount {
	color: #979797;
}
.widget.woocommerce .total {
	margin-bottom: 12px;
	text-align: center;
	font-size: 22px;
}
.widget.woocommerce .buttons {
	margin: 0;
	padding: 0;
	text-align: center;
}
.widget.woocommerce .buttons a {
	font-size: 14px;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
	margin: 0 5px;
	padding: 0 15px;
}
.widget.woocommerce .buttons a:after,
.woocommerce .widget.yith-woo-ajax-navigation .yith-wcan-group li:before,
.woocommerce .widget.yith-woo-ajax-navigation .yith-wcan-label.yith-wcan-group li a:after {
	display: none;
}
.woocommerce .widget.yith-woo-ajax-navigation .yith-wcan-group li {
	padding: 0;
}
.woocommerce .widget.yith-woo-ajax-navigation .yith-wcan-group li,
.woocommerce .widget.yith-woo-ajax-navigation .yith-wcan-group li:before,
.woocommerce .widget.yith-woo-ajax-navigation .yith-wcan-group li:after {
	border: 0;
	background: none;
}
.woocommerce .widget.yith-woo-ajax-navigation .yith-wcan-group li a {
	border: 2px solid #e4e4e4;
	display: inline-block;
	float: left;
	font-weight: 400;
	height: 35px;
	line-height: 30px;
	margin-right: 10px;
	position: relative;
	text-indent: -999em;
	width: 35px;
}
.woocommerce .widget.yith-woo-ajax-navigation .yith-wcan-label li a {
	color: #3d3d3d;
	font-weight: 500;
	line-height: 27px;
	text-align: center;
	text-indent: 0;
}
.woocommerce .widget.yith-woo-ajax-navigation .yith-wcan-label li:not(.chosen) a:hover {
	background: #fff;
	color: #3d3d3d;
}
.woocommerce .widget.yith-woo-ajax-navigation .yith-wcan-group li a:hover,
.woocommerce .widget.yith-woo-ajax-navigation .yith-wcan-group li.chosen a {
	border: 2px solid #e55a54;
}
.woocommerce .widget.yith-woo-ajax-navigation .yith-wcan-group li a:after {
	background: none;
	border: 2px solid #fff;
	content: "";
	display: inline-block;
	height: 31px;
	left: 0;
	position: absolute;
	top: 0;
	width: 31px;
}
.woocommerce .widget.yith-woo-ajax-navigation .yith-wcan-label.yith-wcan-group li a {
	width: auto;
	padding: 1px 10px;
}
.woocommerce .yith-wcan-select-wrapper {
	padding: 10px;
	margin-right: 0;
	max-width: 270px;
}

/*  [ No Posts found ]
- - - - - - - - - - - - - - - - - - - - */
.no-posts-found{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #FFF;
	text-align: center;
}
.no-posts-found .container{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.no-posts-found img{
	margin-bottom: 15px;
}

/*  [ Cart pages ]
- - - - - - - - - - - - - - - - - - - - */
.woocommerce-cart .entry-title {
	font-size: 26px;
	text-transform: uppercase;
}
.woocommerce-cart .cart-empty,
.woocommerce-cart .return-to-shop {
	text-align: center;
}
.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
	border-radius: 0;
}
.woocommerce table.shop_table.cart,
.woocommerce-page table.shop_table.cart {
	margin-top: 50px;
}
.woocommerce table.shop_table,
.woocommerce-page table.shop_table,
.woocommerce table.shop_table td,
.woocommerce-page table.shop_table td,
.woocommerce table.shop_table th,
.woocommerce-page table.shop_table th,
.woocommerce .cart-collaterals .cart_totals table,
.woocommerce-page .cart-collaterals .cart_totals table,
.woocommerce .cart-collaterals .cart_totals tr td,
.woocommerce .cart-collaterals .cart_totals tr th,
.woocommerce-page .cart-collaterals .cart_totals tr td,
.woocommerce-page .cart-collaterals .cart_totals tr th {
	border: 0;
}
.woocommerce table.shop_table td,
.woocommerce-page table.shop_table td {
	padding: 15px 12px;
}
.woocommerce-page table.shop_table.customer_details {
	border-collapse:collapse;
}
.woocommerce-page table.shop_table.customer_details td{
	border-bottom: 1px solid #B5B5B5;
}
.woocommerce-page table.shop_table.customer_details tr:last-child td {
	border:none;
}
.woocommerce #content table.cart .product-remove,
.woocommerce table.cart .product-remove,
.woocommerce-page #content table.cart .product-remove,
.woocommerce-page table.cart .product-remove {
	padding-right: 0;
}
.woocommerce #content table.cart a.remove,
.woocommerce table.cart a.remove,
.woocommerce-page #content table.cart a.remove,
.woocommerce-page table.cart a.remove {
	color: #FFF !important;
	width: 30px;
	height: 30px;
	background: #363636;
	line-height: 28px;
	border-radius: 0;
	float: right;
}
.woocommerce #content table.wishlist_table a.remove,
.woocommerce table.wishlist_table a.remove,
.woocommerce-page #content table.wishlist_table a.remove,
.woocommerce-page table.wishlist_table a.remove{
	float: none;
}
.woocommerce #content table.cart a.remove:hover,
.woocommerce table.cart a.remove:hover,
.woocommerce-page #content table.cart a.remove:hover,
.woocommerce-page table.cart a.remove:hover {
	background: #e55a54;
}
.woocommerce #content table.cart .product-thumbnail,
.woocommerce table.cart .product-thumbnail,
.woocommerce-page #content table.cart .product-thumbnail,
.woocommerce-page table.cart .product-thumbnail {
	padding-left: 0;
}
.woocommerce #content table.cart img,
.woocommerce table.cart img,
.woocommerce-page #content table.cart img,
.woocommerce-page table.cart img {
	width: 100px;
}
.woocommerce #content table.cart .product-name a,
.woocommerce table.cart .product-name a,
.woocommerce-page #content table.cart .product-name a,
.woocommerce-page table.cart .product-name a {
	font-size: 16px;
	color: #363636;
}
.woocommerce #content table.cart .product-name a:hover,
.woocommerce table.cart .product-name a:hover,
.woocommerce-page #content table.cart .product-name a:hover,
.woocommerce-page table.cart .product-name a:hover {
	color: #e55a54;
}
.woocommerce td.product-name dl.variation dd,
.woocommerce-page td.product-name dl.variation dd {
	padding: 0;
	margin: 0;
}
.woocommerce td.product-quantity,
.woocommerce-page td.product-quantity {
	min-width: 170px;
}
.woocommerce #content .product-quantity .quantity,
.woocommerce .product-quantity .quantity,
.woocommerce-page #content .product-quantity .quantity,
.woocommerce-page .product-quantity .quantity {
	width: 170px;
}
.woocommerce #content .product-quantity .quantity input.qty,
.woocommerce .product-quantity .quantity input.qty,
.woocommerce-page #content .product-quantity .quantity input.qty,
.woocommerce-page .product-quantity .quantity input.qty,
.woocommerce #content .product-quantity .quantity input.minus,
.woocommerce .product-quantity .quantity input.minus,
.woocommerce-page #content .product-quantity .quantity input.minus,
.woocommerce-page .product-quantity .quantity input.minus,
.woocommerce #content .product-quantity .quantity input.plus,
.woocommerce .product-quantity .quantity input.plus,
.woocommerce-page #content .product-quantity .quantity input.plus,
.woocommerce-page .product-quantity .quantity input.plus  {
	height: 34px;
}
.woocommerce #content .product-quantity .quantity input.qty,
.woocommerce .product-quantity .quantity input.qty,
.woocommerce-page #content .product-quantity .quantity input.qty,
.woocommerce-page .product-quantity .quantity input.qty {
	margin-left: 34px;
	width: 102px;
	background: none;
	border: 2px solid #767676;
}
.woocommerce #content .product-quantity .quantity input.minus,
.woocommerce .product-quantity .quantity input.minus,
.woocommerce-page #content .product-quantity .quantity input.minus,
.woocommerce-page .product-quantity .quantity input.minus,
.woocommerce #content .product-quantity .quantity input.plus,
.woocommerce .product-quantity .quantity input.plus,
.woocommerce-page #content .product-quantity .quantity input.plus,
.woocommerce-page .product-quantity .quantity input.plus {
	position: absolute;
	left: 0;
	width: 34px;
}
.woocommerce #content .product-quantity .quantity input.plus,
.woocommerce .product-quantity .quantity input.plus,
.woocommerce-page #content .product-quantity .quantity input.plus,
.woocommerce-page .product-quantity .quantity input.plus {
	right: 0;
	left: auto;
}
.woocommerce td.product-price,
.woocommerce-page td.product-price,
.woocommerce td.product-subtotal,
.woocommerce-page td.product-subtotal {
	font-size: 18px;
	color: #4c4c4c;
}
.woocommerce #content table.cart td.actions,
.woocommerce table.cart td.actions,
.woocommerce-page #content table.cart td.actions,
.woocommerce-page table.cart td.actions {
	padding: 50px 0;
}
.woocommerce #content table.cart td.actions .coupon .input-text,
.woocommerce table.cart td.actions .coupon .input-text,
.woocommerce-page #content table.cart td.actions .coupon .input-text,
.woocommerce-page table.cart td.actions .coupon .input-text {
	height: 48px;
	box-shadow: none;
	width: 120px;
}
.woocommerce #content table.cart td.actions .button,
.woocommerce table.cart td.actions .button,
.woocommerce-page #content table.cart td.actions .button,
.woocommerce-page table.cart td.actions .button,
.woocommerce #content table.wishlist_table td .button,
.woocommerce table.wishlist_table td .button,
.woocommerce-page #content table.wishlist_table td .button,
.woocommerce-page table.wishlist_table td .button {
	height: 50px;
	line-height: 50px;
}
.woocommerce #content table.cart td.actions .checkout-button,
.woocommerce table.cart td.actions .checkout-button,
.woocommerce-page #content table.cart td.actions .checkout-button,
.woocommerce-page table.cart td.actions .checkout-button {
	background: #00b1ef;
	margin-left: 5px;
}
.woocommerce #content table.cart td.actions .button:hover,
.woocommerce table.cart td.actions .button:hover,
.woocommerce-page #content table.cart td.actions .button:hover,
.woocommerce-page table.cart td.actions .button:hover,
.woocommerce #content table.wishlist_table td .button:hover,
.woocommerce table.wishlist_table td .button:hover,
.woocommerce-page #content table.wishlist_table td .button:hover,
.woocommerce-page table.wishlist_table td .button:hover{
	background: #e55a54;
}
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals,
.woocommerce .cart-collaterals .shipping_calculator,
.woocommerce-page .cart-collaterals .shipping_calculator {
	width: 100%;
}
.woocommerce .cart-collaterals .columns > *,
.woocommerce-page .cart-collaterals .columns > * {
	background: #FFF;
	padding: 20px 30px 30px;
	text-align: left;
}
.woocommerce .cart-collaterals .shipping_calculator .shipping-calculator-button,
.woocommerce-page .cart-collaterals .shipping_calculator .shipping-calculator-button,
.woocommerce .cart-collaterals .cart_totals > h2,
.woocommerce-page .cart-collaterals .cart_totals > h2,
.woocommerce .cart-collaterals .coupon > h2,
.woocommerce-page .cart-collaterals .coupon > h2 {
	font-size: 22px;
	color: #353533;
	text-transform: uppercase;
	margin-bottom: 20px;
	display: inline-block;
}
.woocommerce .cart-collaterals .shipping_calculator > h2,
.woocommerce-page .cart-collaterals .shipping_calculator > h2 {
	line-height: 32px;
}
.woocommerce .cart-collaterals .shipping-calculator-form > p,
.woocommerce-page .cart-collaterals .shipping-calculator-form > p {
	padding: 0;
	margin-bottom: 20px;
}
.woocommerce .cart-collaterals .cart_totals .wc-proceed-to-checkout,
.woocommerce-page .cart-collaterals .cart_totals .wc-proceed-to-checkout {
	padding-bottom: 0;
}
.woocommerce .cart-collaterals .shipping_calculator select,
.woocommerce-page .cart-collaterals .shipping_calculator select {
	border: 1px solid #bfbfbf;
	background: #fff;
}
.woocommerce form .form-row .input-text,
.woocommerce-page form .form-row .input-text,
.woocommerce .cart-collaterals .coupon .input-text,
.woocommerce-page .cart-collaterals .coupon .input-text {
	height: 38px;
}
.woocommerce form .form-row textarea.input-text,
.woocommerce-page form .form-row textarea.input-text {
	height: 100px;
	padding: 10px;
}
.woocommerce .cart-collaterals .shipping_calculator .button,
.woocommerce-page .cart-collaterals .shipping_calculator .button,
.woocommerce .cart-collaterals .coupon .button,
.woocommerce-page .cart-collaterals .coupon .button,
.woocommerce-checkout .checkout_coupon .form-row-last .button {
	height: 50px !important;
	line-height: 50px !important;
}
.woocommerce-checkout .checkout-thankyou {
	color: #4D9D4E;
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 15px;
}
.woocommerce .cart-collaterals .shipping_calculator .button,
.woocommerce-page .cart-collaterals .shipping_calculator .button {
	width: auto;
}
.woocommerce .cart-collaterals .coupon .input-text,
.woocommerce-page .cart-collaterals .coupon .input-text {
	width: 100%;
	margin-bottom: 20px;
}
.woocommerce .cart-collaterals .coupon span,
.woocommerce-page .cart-collaterals .coupon span {
	display: block;
	margin-top: -15px;
	margin-bottom: 20px;
}
.woocommerce .cart-collaterals .cart_totals table th,
.woocommerce-page .cart-collaterals .cart_totals table th {
	width: 50%;
	text-align: right;
	padding-right: 20px;
	font-weight: 400;
}
.woocommerce .cart-collaterals .cart_totals table td,
.woocommerce-page .cart-collaterals .cart_totals table td {
	padding-left: 50px;
}
.woocommerce .cart-collaterals .cart_totals table td .amount,
.woocommerce-page .cart-collaterals .cart_totals table td .amount {
	color: #e55a54;
	font-family: "Arial";
	font-weight: bold;
	font-size: 16px;
}
.woocommerce-cart .cart-collaterals .cart_totals .shipping-calculator-button {
	margin: 10px 0;
	display: block;
}
.woocommerce-cart .cart-collaterals .cart_totals table select {
	border: 1px solid #ddd;
	height: 39px;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button{
    height: 50px;
    line-height: 50px;
    background: #00b1ef;
    display: inline-block;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover{
	background: #e55a54;
}


/*  [ Product slider ]
- - - - - - - - - - - - - - - - - - - - */
.woocommerce.product-slider ul.products li.product {
	width: 100%;
}
.woocommerce.product-slider .h-slider {
	text-align: center;
	margin-bottom: 80px;
}
.woocommerce.product-slider .h-slider h4 {
	background: #353533;
	color: #fff;
	display: block;
	font-size: 22px;
	font-weight: 700;
	height: 65px;
	letter-spacing: 6px;
	line-height: 65px;
	margin: auto;
	max-width: 310px;
	position: relative;
	text-transform: uppercase;
}
.woocommerce.product-slider .h-slider h4:before,
.woocommerce.product-slider .h-slider h4:after {
	content: "";
	position: absolute;
	width: 4px;
	height: 4px;
	background: #535353;
	top: 50%;
	margin-top: -2px;
	-webkit-border-radius: 4px;
	-moz-border-radius:    4px;
	-ms-border-radius:     4px;
	border-radius:         4px;
}
.woocommerce.product-slider ul.products li.product {
	width: 100%;
}
.woocommerce.product-slider .h-slider h4:before {
	left: 35px;
}
.woocommerce.product-slider .h-slider h4:after {
	right: 40px;
}
.woocommerce.product-slider .owl-item.blur .p-inner {
	position: relative;
}
.woocommerce.product-slider .owl-item.blur .p-inner:after {
	background: rgba(255, 255, 255, .8);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: "";
	position: absolute;
}
.woocommerce.product-slider .owl-theme .owl-controls {
	position: absolute;
	width: 100%;
	top: -170px;
}
.woocommerce.product-slider .owl-theme .owl-controls .owl-buttons {
	display: inline-block;
	position: relative;
}
.woocommerce.product-slider .owl-theme .owl-controls .owl-buttons > div {
	background: #a3a3a3;
	color: #fff;
	width: 55px;
	height: 65px;
	line-height: 65px;
	position: absolute;
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition:    all .3s ease-in-out 0s;
	transition:         all .3s ease-in-out 0s;
}
.woocommerce.product-slider .owl-theme .owl-controls .owl-buttons > div:hover {
	background: #e55a54;
}
.woocommerce.product-slider .owl-theme .owl-controls .owl-buttons > div.owl-prev {
	left: -224px;
}
.woocommerce.product-slider .owl-theme .owl-controls .owl-buttons > div.owl-next {
	right: -184px;
}
.woocommerce.product-slider .owl-theme .owl-controls .owl-buttons > div i {
	margin-top: 23px;
}
.woocommerce.product-slider .owl-pagination {
	width: 100%;
	top: 106px;
}

/*  [ Remove product user ajax ]
- - - - - - - - - - - - - - - - - - - - */
.cart_list .cart-item-thumbnail.loading:after {
	font-family:WooCommerce;content:"\e01c";
	vertical-align:top;-webkit-font-smoothing:antialiased;
	font-weight:400;
	position:absolute;
	top: .7em; right: 1.3em;
	-webkit-animation:spin 2s linear infinite;
	-moz-animation:spin 2s linear infinite;
	animation:spin 2s linear infinite
}
.cart_list .cart-item-thumbnail.loading a,
.cart_list .cart-item-thumbnail.loading span{
	display: none;
}

/*  [ Wishlist style ]
- - - - - - - - - - - - - - - - - - - - */
#yith-wcwl-popup-message{
 background: rgba(0, 0, 0, 0.5);
 border: none;
 border-radius: 0;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 padding: 0;
 margin: 0 !important;
}
#yith-wcwl-message{
 background: #FFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    left: 50%;
    line-height: 50px;
    padding: 15px;
    position: absolute;
    text-align: center;
    top: 50%;
    z-index: 10000;
    min-width: 200px;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1170px){
	.woocommerce[class*="columns-"] .products .product,
	.woocommerce .products .product,
	.woocommerce .products .product.featured:first-child{
		width: 33.3333%;
	}
	.woocommerce .products .product-inner:hover .product-image img, 
	.products .product-inner:hover .product-image img{
		margin-top: 0;
	}
	.woocommerce .products .product-inner:hover .product-info, 
	.products .product-inner:hover .product-info{
		padding-bottom: 15px;
	}
	.woocommerce .products .product-image, 
	.products .product-image{
		height: auto !important;
	}
}
@media only screen and (max-width: 768px), (max-device-width: 1024px) {
	.wcm-left-content .shop-main,
	.wcm-right-content .shop-main,
	.shop-sidebar {
		width: 100%;
	}
	.woocommerce .products .product-inner:hover,
	.products .product-inner:hover{
		margin-top: 0;
		padding-bottom: 0;
	}
	.woocommerce .product-action, 
	.product-action{
		position: static;
		display: none;
		transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-webkit-transform: scale(0);
		padding: 0;
	}
	.woocommerce.product-slider .owl-item.blur .p-inner:after {
		background: none;
	}
	.woocommerce ul.products li.product .p-info .p-cart a.button:before,
	.woocommerce-page ul.products li.product .p-info .p-cart a.button:before {
		bottom: 60px;
		left: 10px;
		top: auto;
	}
	.woocommerce #content div.product div.images img,
	.woocommerce div.product div.images img,
	.woocommerce-page #content div.product div.images img,
	.woocommerce-page div.product div.images img {
		width: auto;
	}
	.woocommerce #content table.cart td.actions .button,
	.woocommerce table.cart td.actions .button,
	.woocommerce-page #content table.cart td.actions .button,
	.woocommerce-page table.cart td.actions .button {
		display: block;
		margin: 10px 0;
		text-align: center;
		width: 100%;
	}
	.cat-has-child-wrap .cat-parent, 
	.cat-has-child-wrap .cat-children{
		position: relative;
		width: auto;
	}
	.cat-has-child-wrap .cat-children{
		left: 0;
	}
	.cat-children ul{
		height: auto;
		overflow: hidden;
	}
	#p-thumb .owl-wrapper-outer{
		text-align: left;
		padding-left: 10px;
	}
	.woocommerce #content div.product div.summary, 
	.woocommerce div.product div.summary, 
	.woocommerce-page #content div.product div.summary, 
	.woocommerce-page div.product div.summary{
		padding-right: 0;
	}
	.woocommerce .product-related{
		position: static;
		clear: both;
		width: auto;
		background: none;
		padding: 0;
	}
	.woocommerce .product-related .products{
		margin-left: -10px;
    	width: calc(100% + 20px);
	}
	.woocommerce .product-related .products .product, 
	.woocommerce-page .product-related .products .product, 
	.woocommerce-page .product-related .products .product.featured:first-child{
		width: 33.3333%;
		float: left;
		padding: 0 10px;
	} 
	.woocommerce .products .product-inner{
		background: #FFF;
	}
	.woocommerce #content .product-related .products .product span.price ins, 
	.woocommerce #content .product-related .products .product p.price ins{
		display: inline-block;
	}
	.woocommerce #content .product-related div.product p.price del, 
	.woocommerce #content .product-related div.product span.price del{
		font-size: 14px;
	}
	.woocommerce .product-related h2{
		text-align: left;
		font-size: 14px;
		margin-bottom: 20px;
	}
	.product-action .cd-quickview-trigger{
		display: none;
	}
}
@media only screen and (max-width: 960px){
	.woocommerce[class*="columns-"] .products .product,
	.woocommerce .products .product,
	.woocommerce .products .product.featured:first-child{
		width: 50%;
	}
}
@media screen and (max-width: 768px){
	.woocommerce #content div.product div.images, 
	.woocommerce div.product div.images, 
	.woocommerce-page #content div.product div.images, 
	.woocommerce-page div.product div.images,
	.woocommerce #content div.product div.summary, 
	.woocommerce div.product div.summary, 
	.woocommerce-page #content div.product div.summary, 
	.woocommerce-page div.product div.summary{
		float: none;
		width: auto;
	}

	.woocommerce .cart-collaterals .shipping_calculator .button, 
	.woocommerce-page .cart-collaterals .shipping_calculator .button, 
	.woocommerce .cart-collaterals .coupon .button, 
	.woocommerce-page .cart-collaterals .coupon .button, 
	.woocommerce-checkout .checkout_coupon .form-row-last .button,
	.woocommerce-cart .wc-proceed-to-checkout a.checkout-button{
		width: 100%;
		padding: 0;
		margin-bottom: 0;
	}
}
@media only screen and (max-width: 540px){
	.shop-header{
		margin-bottom: 20px;
		padding: 0 15px;
	}
	.shop-header .filter-title{
		font-size: 0;
	}
	.shop-header .filter-title i{
		font-size: 22px;
	}
	.shop-header .filter-product ul li{
		margin-left: 15px;
	}
	.woocommerce .products{
		margin-top: 20px;
	}
	.woocommerce[class*="columns-"] .products .product,
	.woocommerce .products .product,
	.woocommerce .products .product.featured:first-child,
	.woocommerce[class*="columns-"] .products .product.featured:first-child{
		width: auto;
		float: none;
		padding: 0 5px;
	}
	.woocommerce .product-related .products .product, 
	.woocommerce-page .product-related .products .product, 
	.woocommerce-page .product-related .products .product.featured:first-child{
		float: none;
		width: auto;
	}
	.shop-header .sidebar-header{
		height: auto;
		line-height: normal;
		padding: 10px 0 0;
	}
	.woocommerce .woocommerce-breadcrumb{
		line-height: normal;
		padding: 15px 0 10px;
	}
	.cat-children .subcat_thumbnail, 
	.cat-children .subcat-info{
		position: relative;
		width: auto;
	}
	.cat-children ul li.even .subcat_thumbnail,
	.cat-children .subcat-info{
		left: 0;
	}
	.cat-children .subcat_thumbnail{
		height: 200px;
		display: block;
	}
	.cat-children .subcat-info{
		top: 0;
		transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
	}
	.woocommerce .comment-respond .comment-form .comment-form-author,
	.woocommerce .comment-respond .comment-form .comment-form-email{
		padding-right: 0;
		width: auto;
	}

}
@media only screen and (max-width: 480px), (max-device-width: 480px) {
	.woocommerce-cart .woocommerce > form {
		width: 100%;
		overflow-x: scroll;
		overflow-y: hidden;
	}
	.woocommerce-cart .woocommerce > form table {
		width:480px;
	}
	.woocommerce[class*="columns-"] ul.products li.product,
	.woocommerce ul.products li.product {
		width: 100%;
	}
	.woocommerce.product-slider .owl-theme .owl-controls .owl-buttons > div.owl-next {
		right: -155px;
	}
	.woocommerce.product-slider .owl-theme .owl-controls .owl-buttons > div.owl-prev {
		left: -198px;
	}
	.woocommerce #content table.cart td.actions .button,
	.woocommerce table.cart td.actions .button,
	.woocommerce-page #content table.cart td.actions .button,
	.woocommerce-page table.cart td.actions .button {
		width: 250px;
	}
	.woocommerce #content table.cart td.actions .button.alt,
	.woocommerce #content table.cart td.actions .input-text + .button,
	.woocommerce table.cart td.actions .button.alt,
	.woocommerce table.cart td.actions .input-text + .button,
	.woocommerce-page #content table.cart td.actions .button.alt,
	.woocommerce-page #content table.cart td.actions .input-text + .button,
	.woocommerce-page table.cart td.actions .button.alt,
	.woocommerce-page table.cart td.actions .input-text + .button {
		float: none;
	}
	.woocommerce .cart-collaterals .grid .columns.six,
	.woocommerce-page .cart-collaterals .grid .columns.six {
		width: 100%;
	}
	.woocommerce .cart-collaterals .columns > *,
	.woocommerce-page .cart-collaterals .columns > * {
		padding: 10px;
	}
	.woocommerce .cart-collaterals .cart_totals table td,
	.woocommerce-page .cart-collaterals .cart_totals table td {
		padding-left: 0;
	}
}

@media only screen and (max-width: 320px), (max-device-width: 320px) {
	.woocommerce-checkout .shop_table.order_details tfoot th {
		padding-left: 0;
		padding-right: 5px;
		width: 125px;
	}
	.woocommerce-checkout .shop_table.order_details tfoot td {
		padding-left: 0;
		padding-right: 0;
	}
}
